[2018-12-17 00:12] maccamlc86400 opened #2 "Fails on 4.6.0.Final of Keycloak due to unknown properties and Jackson not ignoring them"
Found this image, as a great and simple way to set up a test environment with keycloak.

I tried the latest version (at the time) of Keycloak and received errors, but 4.4.0.Final worked.

Just wondering if any plans to try and handle these issues with future versions?

I thought about making a fork and attempting to make work myself, but I saw in an existing PR that it has been rewritten recently.

[2018-12-30 09:57] borisskert commented on #2
Hi. I'm glad to hear you using our image. Thanks for your feedback.

Yes, we are planning to use this image on newer keycloak images. I just completed a lot of integration tests to make sure our import is working correctly.

I will perform a release next week, cause we need our import working for keycloak 4.4.0. After this, i will bump the keycloak dependencies to the current latest version (4.8.x

[2018-12-31 11:31] borisskert commented on #2
Update: I have released my stuff for keycloak 4.4.0.Final and tested the same code for 4.6.0.Final and 4.8.0.Final. The only think I had to change is the keycloak dependencies in my poms. I think we could soon release the keycloak-tools for both versions.

[2019-01-01 23:09] maccamlc86400 commented on #2
Oh, that's great. Thank you.

I'm trying out v0.4.0 now with keycloak 4.4.0.Final.

Thanks for the images. Definitely makes it simpler to set up a consistent test environment :)

[2019-01-02 11:11] borisskert commented on #2
Another update:
The fact that our code is compatible to all keycloak versions between 4.4.0.Final and 4.8.1.Final allows us to build multiple docker image per build for each keycloak version.
I changed our travis pipline to build them in a matrix and released the version **v0.4.0-1**.

For example, if you want to configure keycloak 4.6.0.Final you can pull the image **adorsys/keycloak-config-cli:v

[2019-01-03 01:10] maccamlc86400 commented on #2
Thanks. Looks great.

Yes, please close :)

[2019-01-04 10:09] #2 closed

[2019-01-08 09:44] borisskert opened #4 "Fail: Update authentication flow which is currently in use"
Error log:
`10:07:42,194 ERROR [org.keycloak.services.error.KeycloakErrorHandler] (default task-1) Uncaught server error: org.keycloak.models.ModelException: Cannot remove authentication flow, it is currently in use
	at org.keycloak.models.jpa.RealmAdapter.removeAuthenticationFlow(RealmAdapter.java:1474)
	at org.keycloak.models.cache.infinispan.RealmAdapter.removeAuthenticationFlow(RealmAdapter.ja

[2019-01-14 11:44] #4 closed

[2019-04-02 16:13] jkroepke opened #7 "Adding a caching option to keycloak-config-cli"
Just an idea or concept.

A cache mode would be a good improvement in dev environment to reduce the deploy/configure times.
As I know Keycloak support custom realm attributes. (https://github.com/keycloak/keycloak/pull/3153/files)

A idea to cache the configuration:
* Create a hash (e.g. sha256) for the import json file.
* Create a custom attribute inside the realm with calculated hash
* On next r

[2019-04-04 12:09] borisskert opened #8 "Provide jar artifacts in github"

[2019-04-09 13:10] jkroepke commented on #8
thanks

[2019-04-09 13:10] #8 closed

[2019-04-23 11:08] borisskert opened #11 "Support Keycloak 6.0.0"

[2019-04-24 09:01] #11 closed

[2019-04-24 09:01] #7 closed

[2019-04-24 12:46] borisskert opened #14 "Remove module encrypt-password-cli"
due to breaking changes with Keycloak 6.0.0

[2019-04-25 06:22] borisskert opened #15 "Build against Keycloak 6.0.1"

[2019-04-25 06:32] borisskert opened #16 "Setup license to Apache License"

[2019-04-25 06:38] borisskert commented on #14
Due to the submodule `encrypt-password-cli` has got his own repository (https://github.com/adorsys/keycloak-password-encryption) it will be removed here

[2019-04-25 08:57] #14 closed

[2019-04-25 08:57] #15 closed

[2019-04-25 08:57] #16 closed

[2019-04-25 09:14] borisskert opened #20 "Broken jar artefact"

[2019-04-25 11:13] #20 closed

[2019-05-15 07:35] borisskert opened #23 "Support exported JSON files"
See https://www.keycloak.org/docs/2.5/server_admin/topics/export-import.html

[2019-05-15 10:44] #23 closed

[2019-05-15 10:45] borisskert opened #25 "404 Error while updating authentication-flow containing a "id"-property"

[2019-05-15 11:33] #25 closed

[2019-05-16 12:14] borisskert opened #27 "Clean up code smells"

[2019-05-17 09:23] #27 closed

[2019-05-17 09:24] borisskert opened #29 "Calculate and show coverage"

[2019-05-17 10:02] #29 closed

[2019-05-23 07:47] borisskert opened #31 "Improve error handling if trying to recreate built-in flows"

[2019-05-23 07:48] borisskert opened #32 "Update built-in flows without recreating them"

[2019-05-23 09:05] #31 closed

[2019-05-23 09:06] borisskert opened #34 "Improve error handling while importing sub-components"

[2019-05-24 08:42] #34 closed

[2019-05-24 08:42] #32 closed

[2019-08-13 15:06] borisskert opened #37 "documentation how to export realms including users"

[2019-08-28 06:28] #37 closed

[2019-08-29 15:01] woelkjulian opened #40 "scopeMappings of clients are not imported correctly, when the corresponding realm already exists"
keycloak.version:
![keycloak_server_info](https://user-images.githubusercontent.com/25659642/63951979-02e91d80-ca7f-11e9-8643-b4f0b568396d.png)

config-cli pom:
![config-cli-pom](https://user-images.githubusercontent.com/25659642/63952044-201dec00-ca7f-11e9-89df-ef0893a21e21.png)

Hey,

I have an issue when importing scopeMapping changes to realms that are already existent.

Steps to recreate issu

[2019-09-17 15:37] borisskert commented on #40
Fixed with version v0.8.0

[2019-09-17 15:37] #40 closed

[2019-11-28 10:21] Poeschl opened #43 "Please update the docker images"
Could you please update also the docker images with 1.0? That would let me use it in our import routines.

Thanks in advance

[2020-01-30 23:15] jkroepke commented on #43
Hi,

updates on docker hub should now work on new releases.

https://hub.docker.com/r/adorsys/keycloak-config-cli/tags?page=1&ordering=last_updated&name=v1

[2020-01-30 23:15] #43 closed

[2020-02-11 07:40] erkkikeranen opened #47 "is it possible to update a built-in flow?"
Hi and thanks for your great tool.

Sorry if this is written somewhere, but couldn't find help by searching so:

I am trying to update the built-in first broker flow automatically, example:
[code]

But I get an obvious exception:

Caused by: de.adorsys.keycloak.config.exception.InvalidImportException: Unable to recreate flow 'first broker login' in realm 'realmname': Deletion or creation of built-

[2020-02-11 12:41] jkroepke commented on #47
Hi!

builtIn flows are immutable in Keycloak.

In our projects we have to clone the workflow first, then we are able to modify or create/update it. ( you don't have to do it inside the ui). You can define the workflows via json, too.

Like here: https://github.com/adorsys/keycloak-config-cli/blob/develop/example-config/moped.json#L5

Or here (yaml format):

[code]

[2020-02-12 18:15] #47 closed

[2020-03-04 06:48] erkkikeranen opened #50 "documentation / help for running idempodent configs - checksum question"
Hi,

is there any help or documentation if I want to achieve idempodent configuration provision of the cli tool?

For example, it detects that my realms are existing and no actions are done,
but it always says it updates my realm clients, roles and users I present in the JSONs.

What is the checksum used for?

For example, the cli tool logs:

`2020-03-04 07:40:48.273 DEBUG 178 --- [           main

[2020-03-04 07:38] erkkikeranen opened #51 "wrong user updated when creating user with username equal to identity provider alias or some other resolved data"
I am using docker image adorsys/keycloak-config-cli:v0.8.0-7.0.0 and keycloak 7.0.0

This is the case:

I have an identity provider configured, which alias is **example**
I have user that is linked to this identityprovider, his username is **linkeduser**
Then I have a JSON file where I create a keycloak user whose name is **example**

The result is, that no user with the username **example** is cr

[2020-03-04 11:27] erkkikeranen commented on #51
I inspected the keycloak documentation, and might it be possible that resolving if user exists is based on the generic search option,

which matches "A String contained in username, first or last name, or email"

and thus the username for my test user was part of the email of another user.

https://www.keycloak.org/docs-api/9.0/rest-api/index.html

I don't know if the Java API matches the rest-api

[2020-03-04 20:27] jkroepke commented on #50
Hi!

The checksum is an hash of the provided json. The config-cli should compare the file hash with the hash run by the last run. If the hash is the same, the realm is not touched as you expect it.

On a quick test I it worked like you expected. I used this config: https://github.com/adorsys/keycloak-config-cli/blob/develop/example-config/moped.json .

If I re-run the config-cli twice I can't see

[2020-03-04 21:01] jkroepke commented on #51
Hi!

Jup, it looks like its also described at the keycloak-admin-cli help

[code]

Here is the reason:
https://github.com/keycloak/keycloak/blob/93a1374558643ee31e717c1dfacecb8ab8d95f68/model/jpa/src/main/java/org/keycloak/models/jpa/entities/UserEntity.java#L47

It means the keycloak-config-cli need to recheck if the username of the response is equal to the requested.

[2020-03-05 05:21] erkkikeranen commented on #50
Where is this hash state stored? I am always running the configurator in a container that is disposed after run in my deployment, from where would I expect it to get the last checksum?

I am sorry if I've misunderstood something or if I am using the tool wrong, but haven't found explicit documentation.

My use case is following:

I am running every now and then (either on purpose, or together with

[2020-03-05 05:26] erkkikeranen commented on #51
I believe this could be a valid solution, and relying on the exact username match would be clear.

Is it possible that this improvement would be incorporated in the keycloak-config-cli?

[2020-03-05 06:11] jkroepke commented on #51
Yes.

[2020-03-05 16:29] jkroepke commented on #50
This was the reason to write this utility.

The hash is stored in a custom attribute of the realm. The information is stored inside keycloak.

This project hasn't a good documentation since this project is create in the free time of us. Sorry. :-)

So did you see any logs after

If not, your realm isn't touched by this tool.

[2020-03-06 05:31] erkkikeranen commented on #50
Okay, I found it when I looked inside keycloak db, **realm_attribute** table with a composite key per realm.

So It seems my problem is that because I've split the configuration files to multiple JSONs, all realm checksums are updated after each file run, but finally the same checksum of last run is stored in the realm attributes. So all users, clients, realms, roles are updated each run.

Also ma

[2020-03-08 22:56] jkroepke commented on #50
Would something like

[code]

help? Something like file name in combination with `import.path` would be to complex but feel free to open an own pr...

In my project I use one file per realm.

No restrictions from keycloak-config-cli. But the import REST API lacks sometimes. Some settings needs custom handing.

If there a problem, create a new issue please.

[2020-03-08 23:06] jkroepke commented on #50
Still, it works locally using your provided config even will other json files containers other realms...

[2020-03-08 23:41] jkroepke commented on #50
Looks like there is no update mechansim.

[2020-03-09 11:47] #51 closed

[2020-03-09 15:03] jkroepke commented on #50
@erkkikeranen Can you try this version? It should include a handling for identity providers.
https://github.com/adorsys/keycloak-config-cli/actions/runs/52260883

[2020-03-10 03:27] erkkikeranen commented on #50
That was fast 😊 , will experiment latest on wednesday.

[2020-03-11 13:46] erkkikeranen commented on #50
Hi, I can confirm the change is able to update my identity provider config. Thanks!

[2020-03-15 11:35] #50 closed

[2020-04-01 11:06] erkkikeranen opened #68 "bug: alphabetical order of resolving users when fixing duplicate issues"
Thanks for the latests updates you released.
I've found some more information about the possible bug regarding conflicts when updating resolved users.

I am using v1.3.0 (docker) and Keycloak 9.0.2

I have a users.json like this:

[code]
Guess: What happens when you use keycloak search for user `company`, it will get list of these users in alphabetical order.

In this case, I already had the `comp

[2020-04-01 16:09] jkroepke commented on #68
Keycloak has a wired API.. I'll look into it.

[2020-04-01 17:52] jkroepke commented on #68
Cool, with your example and great explanations I cloud found the bug first + I wrote a test to cover this issue.

[2020-04-01 18:35] jkroepke commented on #68
Can you check, if the error still exists?

Download from PR: https://github.com/adorsys/keycloak-config-cli/suites/565122131/artifacts/3728290

[2020-04-01 19:30] jkroepke commented on #68
Yep element run.

The test file is maybe unrelated since I get this error even if the whole file is comment out.

[2020-04-02 11:37] erkkikeranen commented on #68
Hi, I re-tested with my example users.json with 1.3.0, got the error,
and your new JAR file v1.3.1, and I no longer get the HTTP 409 conflict.

I also quickly checked that correct persons was updated, so I was able to update both users without affecting each other.

This seems to fix my problem.

Extra ordinary thanks to you for quick solution :)

[2020-04-02 11:39] jkroepke commented on #68
Awesome

[2020-04-02 11:40] #68 closed

[2020-06-02 07:10] jkroepke opened #86 "Manage state of subComponents"
SubComponents like `LDAPStorageMapper` can have multiple group/attribute mappers.

keycloak-config-cll can create the mappers but existing mappers can't removed.

[2020-06-10 11:03] cbett opened #93 "Client Protocol Mapper config not being updated"
After creating my client with a Mapper, I can't seem to update it again.
Specifically i'm trying to update the `multivalued` property to `true` in the protocolMapper config.  I don't see any errors - it's just that the value is still not enabled in the UI.  Here is a snapshot of the JSON file being uploaded...
[code]

[2020-06-10 11:14] jkroepke commented on #93
Hi!

thanks for your report. Do you talk about `protocolMappers` in `clientScopes`?

[2020-06-10 11:24] cbett commented on #93
Hi, No it is a Mapper inside the client itself.  Specifically the "ProtocolMappers" property as part of the [ClientRepresentation](https://www.keycloak.org/docs-api/4.8/javadocs/org/keycloak/representations/idm/ClientRepresentation.html#protocolMappers)

[2020-06-10 11:27] jkroepke commented on #93
I'm asking because clientScopes has also protocolMappers..

https://www.keycloak.org/docs-api/4.8/javadocs/org/keycloak/representations/idm/ClientScopeRepresentation.html#protocolMappers

I will have look into it.

[2020-06-11 10:24] jkroepke commented on #93
Hi @cbett

#95 should fix this problem. Could you verify it?

https://github.com/adorsys/keycloak-config-cli/actions/runs/131408453

Caution: the master branch contains a lot of changes for the next 2.0 version. See https://github.com/adorsys/keycloak-config-cli/blob/master/CHANGELOG.md for all changes.

[2020-06-11 15:35] cbett commented on #93
Hi @jkroepke
Yes I can confirm that this is now fixed.
Thanks ever so much for your speedy response.  I will close the issue.

[2020-06-11 15:35] #93 closed

[2020-06-11 16:33] jkroepke commented on #93
Thanks for your response.

Next time, please let the issue open. Then Github will assign the linked pull request as fix.

[2020-06-11 17:52] cbett commented on #93
Of course, sorry for that.

[2020-06-12 11:57] #86 closed

[2020-06-23 19:31] jkroepke opened #113 "Big configuration files results into HTTP 500 Exceptions"
**Describe the bug**
If I have a lot of clients defined in my import config, I got a HTTP 500 Exception.

**To Reproduce**
User keycloak-config-cli with an huge count of clients.

**Expected behavior**
No error should appear.

**Environment (please complete the following information):**
 - Keycloak Version: [e.g. 10.0.1] 10.0.1
 - keycloak-config-cli Version: [e.g. 1.4.0] 2.0.0-rc1
 - Java Version

[2020-06-24 12:54] #113 closed

[2020-06-24 22:52] jkroepke commented on #47
@erkkikeranen it's possible to change the `authenticationExecutions` of an builtin flow but you are not allowed to add or delete executions.

[2020-07-02 11:03] jkroepke opened #133 "Implement keycloak availability check inside java"
**Is your feature request related to a problem? Please describe.**
The current keycloak availability check is written in shell. shell can't relay on functions like reading from properties or spring relax binding. shell can only read from predefined environment variables. This leads to projects like #132

**Describe the solution you'd like**
Implement keycloak availability check inside the java app

[2020-07-03 18:59] #133 closed

[2020-07-21 15:23] nlangh opened #143 "I can't import multiple realms"
I am trying to build an automation for Keycloak in my development environment, but I keep failing to import multiple realms at once.

[code]

The above command always returns an array json.

[code]

However, this cannot be imported directly into Keycloak via a volume:

`FATAL [org.keycloak.services] (ServerService Thread Pool -- 67) java.lang.RuntimeException: Failed to parse json`

The documentat

[2020-07-21 20:31] jkroepke commented on #143
Hi!

it's not supported (yet). But you can export all realms into a directory (a file each realm) then import the the whole directory once.

[code]

[code]

We had a lot of problem with realm import. Thats a reason why we wrote this utility.

Can you explain the problem?

[2020-07-22 11:18] nlangh commented on #143
Thank you, this information was the missing piece I needed. My pipeline works 👍.

[2020-07-22 11:18] #143 closed

[2020-07-22 11:22] jkroepke commented on #143
Looks like it wasn't documented. I extend the documentation it should be more clear now.

[2020-07-22 14:06] rpiotrow opened #144 "Import clients with "Authorization Enabled" (fine-grained authorization support)"
**Is your feature request related to a problem? Please describe.**

It is not possible to import realm when some client in it has Authorization Enabled switch "On" (means support for fine-grained authorization support for that client)

[2020-07-22 18:35] jkroepke commented on #144
Hi

Whats the error?

Do you have an import example?

[2020-07-23 11:11] rpiotrow commented on #144
Error is quite generic. I'll try to prepare some example soon.

[2020-07-25 14:31] jkroepke commented on #144
Using an example from https://raw.githubusercontent.com/keycloak/keycloak-quickstarts/latest/app-authz-jee-servlet/config/realm-import.json works without an error.

[2020-07-25 16:06] jkroepke commented on #144
Okay,

while write some test with "Authorization Enabled" clients, I got some errors.

[2020-07-26 15:19] #144 closed

[2020-07-26 15:43] jkroepke commented on #144
@rpiotrow

I implement some features which coders the fine-grained authorization settings on a client.

The code is on master. You could test it with the docker image `adorsys/keycloak-config-cli:master` or downloading the artefact from here: https://github.com/adorsys/keycloak-config-cli/actions/runs/183241781

[2020-07-31 10:04] rpiotrow commented on #144
Still getting error using `adorsys/keycloak-config-cli:master`. Steps to reproduce:
* create fresh test realm
* create test client (standard flow disabled, type confidential, fine-grained authorization enabled)
* export test realm into json file
* try to import above file (also attached) into fresh (empty) keyclaok instance

Error:
[code]

Keycloak version: `jboss/keycloak:10.0.2`

[2020-07-31 10:35] jkroepke commented on #144
Hi,

The `master` tag is also build with the latest Keycloak version (11.0.0). Older keycloak version are only available as jar files or in releases.

But i can confirm running master (builded with keycloak 10.0.2) runs successfully with your test-realm.

What I do:
[code]

Log output:
[code]

On Keycloak I could found a test realm and a test client.

[2020-07-31 10:59] rpiotrow commented on #144
I've tried docker image `adorsys/keycloak-config-cli:latest-10.0.2` but that gived me:
[code]
I'll try later to clone, build and run locally (as you do) to compare it.

[2020-07-31 12:43] jkroepke commented on #144
Sure, because the changes from https://github.com/adorsys/keycloak-config-cli/pull/149 are not released yet and not included into "latest".

[2020-08-04 06:15] jkroepke opened #154 "Implement --dry-run"
**Is your feature request related to a problem? Please describe.**
Implement a --dry-run that shows what would happens.

**Describe the solution you'd like**
Implement a --dry-run switch that shows what would be create, update or delete by keycloak-config-cli.

**Describe alternatives you've considered**
Try and destroy the own keycloak instance

**Additional context**

[2020-08-08 09:42] jkroepke commented on #144
This feature is released as 2.2.0 now.

[2020-08-12 16:46] brunocascio opened #156 "Realm "Security Defenses" is cleaned up after import"
**Describe the bug**
Running the import cleans my current security defenses configuration

**To Reproduce**
- Create a realm "test-realm" from keycloak admin panel
- Run the config with default flags and this simple configuration

[code]

**Expected behavior**
Security defenses should be kept with the keycloak default values

**Environment (please complete the following information):**
 - Keycloak

[2020-08-12 16:56] brunocascio commented on #156
Hmmm, it's weird.

It just happens when I import a realm that was exported by keycloak.

[2020-08-12 17:00] brunocascio commented on #156
I'll close this issue since it appears to be a problem with my specific realm

[2020-08-12 17:00] #156 closed

[2020-08-24 07:07] SadCodePoet opened #163 "Support for external RealmRepresentation"
**Is your feature request related to a problem? Please describe.**
In some bigger projects Keycloak is customized using extensions. This produces a RealmRepresentation that is inconsistent with the "Vanilla code" ingested by keycloak-config-cli, which in turn produces import errors.

**Describe the solution you'd like**
It would greatly help to be able to ingest the RealmRepresentation from a jar

[2020-08-24 11:32] jkroepke commented on #163
Do you have a link to a documentation how it's worked or how it's defined in keycloak-admin-client.jar?

[2020-08-26 15:00] jkroepke commented on #163
@SadCodePoet could you take a lot at https://github.com/adorsys/keycloak-config-cli/pull/164 ?

[2020-08-27 19:15] #163 closed

[2020-09-03 14:06] SadCodePoet commented on #163
Awesome work, thank your very much for looking into this!

[2020-09-10 11:37] ybonnefond opened #170 "Configure authenticationFlowBindingOverrides for a client"
**Describe the bug**
It seems not possible to configure `authenticationFlowBindingOverrides` for a client.
Keycloak uses authentication flow ID in their client configuration instead of alias.

**To Reproduce**
I tried to force the authentication flow id and use this id in the client `authenticationFlowBindingOverrides` configuration but it does not seems to work at least if the auth flow already e

[2020-09-10 11:42] ybonnefond commented on #170
I had a look into the code and maybe a similar process to the client's `authorizationSettings` would fix this.

Exclude `authenticationFlowBindingOverrides` from client initial creation/update and have a specific import for the auth flow binding overrides which will first resolve flow aliases to ids and then updated the clients.

What do you think?

I am happy to give this a shot and make a PR to

[2020-09-10 12:48] jkroepke commented on #170
First, I check if there is a undocument way that Keycloak supports.

But looking here, only a flow id is supported. https://github.com/keycloak/keycloak/blob/f486e97c182425bf7a2178f2d93bc4b308ca3bd6/server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java#L1357-L1373

That might be the way to go, I would do this, too. Including some tests and documentation somewhere he

[2020-09-10 13:26] jkroepke commented on #170
Was the close a miss click or du you not interested in a PR anymore?

[2020-09-10 13:32] ybonnefond commented on #170
ah sorry, a miss click probably :)

[2020-09-10 13:35] ybonnefond commented on #170
Thanks for your helpful comment, we will look into it on our side. I will likely not be the one who do the PR though.
We've got better java coder than me.

[2020-09-10 13:51] jkroepke commented on #170
All right! Since i'm a system operator, java isn't on my skill list, too. ;-)

[2020-09-10 14:35] jBouyoud commented on #170
Hi there,

I'll try to implement it ;-P.

I see following test cases :
<img width="454" alt="Capture d’écran 2020-09-10 à 16 28 23" src="https://user-images.githubusercontent.com/1336548/92745426-a8b5b480-f382-11ea-9f34-18f237bb37eb.png">

Explanation :
- 13 : Add two new flows and set this one of these to an existing client
- 14 : Change an exiting authenticationFlowBindingOverrides (on client)

[2020-09-11 11:31] jkroepke commented on #170
Looks great!

+ While authenticationFlowBindingOverrides is set, change something on an auth flow that triggers a re-create. The id inside authenticationFlowBindingOverrides should be updated to the new flowId.

Additionally. the code coverage will show us some untested codepath. Within this metric we should able to see if we miss something.

[2020-09-14 12:58] jkroepke commented on #170
If you need help somewhere, just drop a WIP PR here.

[2020-09-21 08:05] ArtemZip opened #183 "Updating of ClientScope doen't include creating new ProtocolMappers"
**Describe the bug**
I need to update std "profile" client scope with new protocol mapper. According to supported features this thing should work.

**To Reproduce**
Trying on keycloak 8 with latest version of your cli.
After importing empty realm, kc creates default clientScopes, one of them is profile. Then I import realm with next clientScopes
[code]
also, if i will add id of clientScope it will

[2020-09-21 11:46] #170 closed

[2020-09-21 12:02] jkroepke commented on #183
For any reason, we do not touch default clientScopes.

https://github.com/adorsys/keycloak-config-cli/blob/66675dd19a207de866cbac685161b4aae4d34b37/src/main/java/de/adorsys/keycloak/config/service/ClientScopeImportService.java#L103-L105

I can't remember why.

Normally, keylcloak should throw some log line at server side.

[2020-09-21 21:45] #183 closed

[2020-09-21 21:46] jkroepke commented on #183
Hi!

thanks for discover some bugs. I found 3 in total related to clientScopes.

See #184 and #186 for more informations.

[2020-09-22 10:48] cbett opened #189 "Cannot Create Realm Unrecognized field"clientOfflineSessionIdleTimeout""
Upgraded to latest 2.3.0 release (from 1.4.0) and the keycloak import now fails with the message..
`Cannot create realm 'xxxxxxxxxxt': Unrecognized field "clientOfflineSessionIdleTimeout" (class org.keycloak.representations.idm.RealmRepresentation), not marked as ignorable`
This is against Keycloak 10.0.2.
Am I doing something wrong?

[2020-09-22 11:19] cbett commented on #189
Just for info, when I build from the 2.0.2 Tag it works fine.
It seems 2.1.0 release (the introduction of Keycloak 11 support) breaks it for me.
OR am I packaging it wrong?

[2020-09-22 11:27] ArtemZip commented on #189
I think you should use jar prepared for your keycloak version https://github.com/adorsys/keycloak-config-cli/releases/download/v2.3.0/keycloak-config-cli-10.0.2.jar , but maybe I am mistaking (I'm not maintainer )

[2020-09-22 12:22] cbett commented on #189
Yes Artem you are right :-)
I was used to building from the sources in the past which is why I missed the prepared jar files.

[2020-09-22 15:31] jkroepke commented on #189
@cbett

You could define the Keycloak version at build time.

[code]

[2020-09-22 15:31] #189 closed

[2020-09-23 14:33] jkroepke opened #191 "Reproducable builds and checksum"
Provide reproducable build and checksum on release. It should increase the security of released artefacts.

[2020-09-23 19:10] jkroepke opened #192 "ENV and Java Props substitution while reading file"
**It's just an idea. Vote: :+1: if you think this feature is useful. Then I'll investigative into it.**

**Is your feature request related to a problem? Please describe.**
Handling multiple environments needs multiple json files each environment

**Describe the solution you'd like**
keycloak-config-cli should support a substitution of the json files.

**Describe alternatives you've considered**
mu

[2020-09-23 21:59] #191 closed

[2020-09-28 08:58] sboardwell opened #201 "Discussion: awesome project - is it possible to see which objects are managed by `import.state`?"
Hi there,

first off, brilliant project, kudos to all.

I was wondering if there was a way to identify which components are managed when using `import.state`. I noticed, for example, that roles are not affected, but clients are. Is there any reason not to manage roles?

I think it is a great project and would be happy to contribute if I can. Let me know.

Cheers,
Steve

[2020-09-28 09:26] jkroepke commented on #201
Hi,

thanks for the kudos.

About import.state, please take a look here:

https://github.com/adorsys/keycloak-config-cli/blob/master/docs/MANAGED.md

Currently state is implemented for resources that can be purged by keycloak-config-cli.

There is no reason to not handle roles like clients. It just like not implemented and no one ask for it. 😄

If you have an idea to improve the docs, e.g wording

[2020-09-28 14:56] #192 closed

[2020-09-29 09:28] sboardwell commented on #201
Great stuff,and thanks the for quick response. Ah, didn't see the `MANAGED.md`. Might be worth adding a link in the main `README.md` for those reading about the `import.state`.

I can have a look at the docs as soon as I have time.

[2020-09-29 09:28] #201 closed

[2020-09-29 12:30] leppaott opened #202 "Guarantee order of import files?"
There's no guarantee that KeycloakImport json files are executed in order?

Importing file '/config/03_init.json'
Importing file '/config/02_update.json'
Importing file '/config/01_create.json'

Maybe the imports could be sorted so that: 01.json is run before 02.json etc?

[2020-09-30 06:58] SadCodePoet opened #204 "No proxy support"
**Describe the bug**
The KeycloakProvider does not heed the proxy settings. This disables tools like fiddler.

**To Reproduce**
1. Install fiddler and setup to capture/decode HTTPS traffic.
2. Start keycloak-config-cli with -DproxySet=true -DproxyHost=127.0.0.1 -DproxyPort=8888
Result: fiddler not able to capture traffic as Keycloak class creates RestEasy client without proxy support

**Expected b

[2020-09-30 07:35] jkroepke commented on #204
Did you try the java builtin proxy settings?

TL;DR:

[2020-09-30 10:07] #202 closed

[2020-09-30 15:01] jkroepke commented on #204
I'll will look into it. But before I do some nasty hacks like reflection, i will create an issue at upstream.

[2020-09-30 15:27] jkroepke commented on #204
Ref: https://issues.redhat.com/browse/KEYCLOAK-15775

[2020-10-01 06:25] jkroepke commented on #204
Meanwhile take a look at #206 if its fit for you. You could find prebuilt artifacts in the Actions section.

[2020-10-03 19:59] #204 closed

[2020-10-08 07:13] leppaott opened #216 "Allow full override of keycloak_url i.e KEYCLOAK_FRONTEND_URL"
You assume Keycloak is always listening at /auth endpoint i.e. keycloak.url + /auth.

Please let the user override this "/auth".

I have needed to set my own standalone-ha.xml with web-context auth changed.

[2020-10-08 08:42] ArtemZip opened #217 "Add option to remove client"
Hi,

We have an idea to add feature for removing clients, as we do it quite often manually.
So, we will be happy if it become possible with that cli.

[2020-10-08 08:46] ArtemZip commented on #217
I will try to create pull request for that issue

[2020-10-08 10:56] jkroepke commented on #217
If you are going for a PR, please implement as "Full Managed".

See: https://github.com/adorsys/keycloak-config-cli/blob/master/docs/MANAGED.md

[2020-10-08 11:05] jkroepke commented on #216
I saw this 2 weeks ago, that keycloak-config-cli always append `/auth` to the url.

Instead make `/auth` configurable, I would like to remove this compltly but strictly is a breaking change.

No idea to solve this yet. A new property is a little to much.

[2020-10-08 22:36] #216 closed

[2020-10-09 13:25] ArtemZip commented on #217
Hi @jkroepke,

Can I ask you why there are many attributes which has 256 chars, when in schema they should be 255 ?
And if you have any suggestion, why this error appears me (also in clean master) ?

Thanks a lot,
Artem

[2020-10-09 18:24] jkroepke commented on #217
Could u please explain which error do you mean?

[2020-10-14 10:35] SadCodePoet opened #222 "Import of realm with client scopes referencing clients let's keycloak fail with Exception"
**Describe the bug**
When importing a realm with client scopes referencing clients KeyCloak goes throws an exception:
ERROR [org.keycloak.services.error.KeycloakErrorHandler] (default task-48) Uncaught server error: java.lang.RuntimeException: Unknown client specification in scope mappings: _redacted-client_ This can be circumvented by adding _clientScopeMappings_ to the _ignoredPropertiesForRealm

[2020-10-14 12:00] jkroepke commented on #222
Funny. I got this issue yesterday from internal, too.

I'm able to reproduce this issue and I could put `clientScopeMappings` to `ignoredPropertiesForRealmImport`. Then the error is gone, but the setting is not applied.

`clientScopeMappings` is only used on the Create Realm Call. It's not possible to update `clientScopeMappings`, since the property is ignore on the Update Realm call by Keycloak i

[2020-10-14 19:04] agelwarg opened #224 "Helm chart configs referencing "file" keyword fail"
When providing configuration via `.Values.config` where a realm is configured via the `file` keyword (as opposed to `inline`), the chart fails to render.

To reproduce, specify a value for `config` with the `file` keyword as follows, and then attempt to `helm install | template ...` the chart:

[code]

This will produce an error similar to the following:
[code]

This is likely due to `.Files.Get`

[2020-10-14 20:15] #224 closed

[2020-10-14 20:16] jkroepke commented on #224
Makes sense! I didn't test a realm import via file yet.

Thanks for the hint.

[2020-10-14 20:17] jkroepke commented on #222
I found the logic how Keycloak resolves the `clientScopeMappings` on a realm import.

https://github.com/keycloak/keycloak/blob/d266165f63013f0ea3480ddaa83108ff34da407e/server-spi-private/src/main/java/org/keycloak/models/utils/RepresentationToModel.java#L1701-L1713

I created a PR which add support for `clientScopeMappings`.

[2020-10-15 06:16] jkroepke commented on #222
@SadCodePoet Could you test the PR?

[2020-10-15 08:38] SadCodePoet commented on #222
I will try, the problem is we are working on a Keycloak v9 based solution, migration to v11 is under way though

[2020-10-15 09:28] jkroepke commented on #222
@SadCodePoet no problem. the fix is also available for v9.

https://github.com/adorsys/keycloak-config-cli/actions/runs/307272023

[2020-10-16 09:08] #222 closed

[2020-10-16 23:36] #217 closed

[2020-10-19 06:17] ArtemZip opened #229 "New release"
Hi, can I ask you to do release with latest changes ?

Thank you,
Artem

[2020-10-19 21:00] jkroepke commented on #229
Done, https://github.com/adorsys/keycloak-config-cli/releases/tag/v2.5.0

[2020-10-22 13:42] mparada opened #231 "Importing a realm with changes to authorization settings in realm-management client results in Internal Server Error"
**Summary**: When using config-cli to create a realm which has modifications to the default authorization settings in the realm-management client there is an Internal Server Error. Using the same json file through the Admin Console works as expected.

**Environment**
Keycloak version: 11.0.2 (running on Docker 19.03.11 with the given docker-compose.yml, docker-compose version 1.25.4)
config-cli ve

[2020-10-23 11:59] jkroepke commented on #231
Keycloak does some auto configuration on realm import while keycloak-config-cli does this not.

Example: https://github.com/keycloak/keycloak/blob/c122e7217847408827984ae5e45efaeb3c7a43e6/services/src/main/java/org/keycloak/services/managers/RealmManager.java#L736-L740

By adding

[code]

to the client realm-management, the import will be succeeded.

[2020-10-23 21:16] #231 closed

[2020-11-02 21:51] dylinmaust opened #240 "Variable substitution not working?"
**Describe the bug**

Thank you for the great tool!

I'm trying to use variable substitution to script out a realm.json file for automated deployments, but the CLI doesn't substitute environment variables at runtime, submitting values to Keycloak like "${env:SOME_ENV_VARIABLE}". There aren't any warnings or errors, and the import succeeds. I can view the new realm in the Keycloak interface. I'm ru

[2020-11-03 00:24] jkroepke opened #241 "Import checksums need to be calculated after substitution"
**Describe the bug**
If substitution is enabled, keycloak-config-cli will skip the import no matter if the substitution variables has been changed or not.

**To Reproduce**

Realm:
[code]

Run keycloak-config-cli with `--import.var-substitution=true` After first import, change `API_CLIENT_SECRET`. Since the file has not been changed, no import happens.

**Expected behavior**
Do an import if extern

[2020-11-03 00:27] jkroepke commented on #240
Hi,

i tested, it works.

According to spring boot docs: https://github.com/spring-projects/spring-boot/wiki/Relaxed-Binding-2.0#environment-variables

Environment variables should not contain hyphen. `import_var-substitution` -> `import_varsubstitution`

[2020-11-03 02:54] #241 closed

[2020-11-03 13:48] mparada opened #245 "Error when importing Realm with identityProviderMapper"
**Describe the bug**
We have an in-house Mattermost App whose authentication goes through Kerberos (SSO) in another realm (central realm). When exporting the mattermost realm, deleting it and importing it using the config-cli (without any changes) we get a 404 Error message. Importing the realm through the Admin Console doesn't show any errors.

**To Reproduce**
I have not been able to create a mi

[2020-11-03 13:57] mattk opened #246 "Authentication Flows with nested flows with multiple executions cannot be imported"
**Describe the bug**
An authentication flow with nested flows with more than 1 execution cannot be imported

**To Reproduce**
*pending*

**Expected behavior**
Flow can be successfully imported

**Environment (please complete the following information):**
 - Keycloak Version: 8.0.2, 9.0.3, 10.0.2, 11.0.2
 - keycloak-config-cli Version: 2.5.0, 2.5.1-SNAPSHOT
 - Java Version: 8

[2020-11-03 14:03] dylinmaust commented on #240
@jkroepke Thanks for the quick response. I can confirm that using `IMPORT_VARSUBSTITUTION` in my `docker run` command works. The above example should be revised as follows:

[code]

[2020-11-03 14:03] #240 closed

[2020-11-03 15:55] #246 closed

[2020-11-03 16:52] jkroepke commented on #245
Hi,

thanks for the example. I could reproduce and fix the error.

For next, please use http://gist.github.com/ or file attachments to provide such big files. Thanks

[2020-11-03 17:07] #245 closed

[2020-11-05 16:38] brunocascio opened #249 "Var substitution does not work?"
**Describe the bug**
Injecting variables into json files seems not to work. I also set `import_var-substitution=true` in my docker-compose.yml but the value is set as literal.
![image](https://user-images.githubusercontent.com/2397875/98268664-92376e00-1f6b-11eb-9cba-f474738670e2.png)

**To Reproduce**

1. Clone this repository
2. Remove benchmark.yml (it contains errors) and reduce moped.json to

[2020-11-05 17:12] jkroepke commented on #249
Thats funny. Got this 3 days ago.

Check: https://github.com/adorsys/keycloak-config-cli/issues/240#issuecomment-720803016

You have to remove the hyphen here.

[2020-11-05 17:47] brunocascio commented on #249
Thanks @jkroepke it works properly now. I also see the checksum feature. Are there any plans to release that soon?

[2020-11-06 12:50] jkroepke commented on #249
I would like to give https://github.com/adorsys/keycloak-config-cli/pull/239 a chances to get it done.

In meanwhile, import.force=true is your workaround until next release.

[2020-11-06 12:50] #249 closed

[2020-11-10 19:14] jkroepke opened #254 "Fix KEYCLOAK-16082: Attributes are not saved on role creations."
See: https://issues.redhat.com/browse/KEYCLOAK-16082

[2020-11-14 09:18] #254 closed

[2020-11-16 10:06] erkkikeranen opened #257 "support for referring to subgroups or group paths when creating users with json"
**Is your feature request related to a problem? Please describe.**

I have a group configuration which `keycloak-config-cli` can update to keycloak:

[code]

In my user.json I  try to write such user that uses one of the groups:
[code]

I can't refer to the subgroups or group hierarchy, I get an
`Could not find group '/app/admin' in realm 'app-realm'!`, so I can only refer to root level group name

[2020-11-16 15:23] jkroepke commented on #257
Does this work, if you import this in keycloak directly?

[2020-11-16 20:18] #257 closed

[2020-11-27 16:52] cristichiru opened #264 "Importing just user has unexpected effects - first time error, second time 409 conflict"
**Describe the bug**
Importing just user has unexpected effects:
- first run error: `Cannot find user 'bubulete' in realm 'myrealm'`, however the user is created. Later edit: the user was already there, but with different username.
- second run, same input: `HTTP 409 Conflict`.
- Second user is never created, at any step, because there are always errors at the first.

**To Reproduce**
1. Use the f

[2020-11-27 17:44] jkroepke commented on #264
I'm unable to reproduce this, I tested this on keylcoak 11.0.3 and 10.0.2.

[code]

Both users are there.

Are you sure you are using 2.6.2? Your report looks like https://github.com/adorsys/keycloak-config-cli/pull/69

[2020-12-01 12:27] jkroepke opened #268 "defaultClientScopes and optionalClientScopes are ignored on existing clients"
**Describe the bug**
The client properties defaultClientScopes and optionalClientScopes are ignored on existing clients

**To Reproduce**
Steps to reproduce the behavior. Please provide full working json files to reproduce the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Keycloak Versi

[2020-12-08 22:25] cristichiru commented on #264
[code]

[2020-12-08 22:31] cristichiru commented on #264
[code]

[2020-12-08 22:42] cristichiru commented on #264
Ah, the email is not the same as the user to be imported... hmm this make sense!

So, what is the unique key, email and username should be the same as in KC to update the user?

[2020-12-08 23:46] jkroepke commented on #264
I guess yes. In your example, the username is different to email. If enabled, the username field gets [overridden](https://github.com/keycloak/keycloak/blob/f45e187c35efaf890563c96f77fc89a14d442339/services/src/main/java/org/keycloak/services/resources/admin/UsersResource.java#L127-L130) by the email field. Both user (in import json and inside keycloak) have the same mail but keycloak-config-cli u

[2020-12-09 16:22] #264 closed

[2020-12-09 20:17] #268 closed

[2020-12-10 07:28] spahrson opened #273 "Create/Update WebAuthn Settings does not set Property 'User Verification Requirement'"
**Describe the bug**
Creating or Updating the WebAuthn Settings does not set the property  'User Verification Requirement' (it remains empty).

**To Reproduce**
Setting the propertry for a realm e.g. `"webAuthnPolicyPasswordlessUserVerificationRequirement": "required",` has no effect.

**Expected behavior**
Should set the property.

**Environment (please complete the following information):**
 - K

[2020-12-10 21:21] jkroepke commented on #273
i assume 11.0.3. 10.0.3 does not exists.

I test this:

[code]

I could verify the setting is set on realm creation and realm update. Tested both 10.0.2 and 11.0.3

[2020-12-13 01:01] jkroepke opened #276 "Implement keepachangelog-maven-plugin"
https://github.com/enear/keepachangelog-maven-plugin

[2020-12-14 19:29] #276 closed

[2020-12-14 19:31] jkroepke commented on #154
Looks like this isn't possible.

[2020-12-14 19:31] #154 closed

[2020-12-15 20:01] spahrson commented on #273
Hmm, I tested it again and it doesn't update the value. I'll try to figure out the problem with a reduced realm import. I keep you updated.

[2020-12-15 20:30] spahrson commented on #273
When you create a new area, the property appears to be set correctly. If you manually changed the value to any other value (including blank / unspecified) in the web console, it will not update correctly because the checksum will remain the same. Can you confirm this behavior?

[2020-12-15 21:09] jkroepke commented on #273
In this case, you have to run the import with `--import.force` which just disables the checksum check.

[2020-12-20 10:33] #273 closed

[2021-01-07 07:44] viyullas opened #288 "config generation from export"
**It would be nice to have some kind of utility or set of instructions to adapt an export.json file to a configuration file valid for
keycloak-config-cli**
Right now I am in the process of automating the deploymet and maintenace via CICD of an already working keycloak server and this utility seems the best way to track all the changes and keep the database of every new environment we start up to d

[2021-01-07 20:17] jkroepke commented on #288
hm, the problem is, Keycloak doesn't provide any default. It's unknown to `keycloak-config-cli` what has been changed, what not.

I have an idea here.

* Get an full export of your realm
* Setup an empty instance keycloak instance
* Create a realm using the name like the production realm, then do an export.
  * Keycloak provides a partial export via web UI, otherwise
  * https://www.keycloak.org/d

[2021-01-16 07:15] pmorch opened #292 "KEYCLOAK_URL/--keycloak.url needs a trailing "/auth""
**Describe the bug**
README.md says:

[code]
and

[code]

but in both these cases, "/auth" needed to be applied, so for docker that means:

    -e KEYCLOAK_URL=http://<your keycloak host>:8080/auth

In actual fact, I used `-e KEYCLOAK_URL=http://host.docker.internal:8180` and `-e KEYCLOAK_AVAILABILITYCHECK_TIMEOUT=20s` and with that, I got this output:

[code]

but it worked with  `-e KEYCLOAK_URL

[2021-01-16 10:58] jkroepke commented on #292
Thanks! In master the support for with without trailing /auth was remove recently. I forgot to update the docs. Thanks.

[2021-01-16 11:01] #292 closed

[2021-01-21 18:04] #288 closed

[2021-01-25 07:34] daniel-shuy opened #295 "JSON Schema"
Thanks for this tool! It would be even better if there is a JSON Schema for the JSON configuration file!

Edit: Just found out from https://keycloak.discourse.group/t/keycloak-configuration-cli-configuration-as-code-for-keycloak/1703 that the schema is the same as the `realm-export.json` schema. Anyone knows if there is a JSON Schema for it?

[2021-01-25 08:03] jkroepke commented on #295
Hi @daniel-shuy

correct, this tools doesn't define a new JSON Syntax, it just aims to be compatible to be 100% compatible with the keycloak realm schema.

All properties are defined here: https://www.keycloak.org/docs-api/11.0/rest-api/index.html#_realmrepresentation

Based on that, this question or feature request is better at https://issues.redhat.com/ or https://keycloak.discourse.group/

What

[2021-01-25 08:03] #295 closed

[2021-02-01 13:38] todeb opened #300 "Cannot resolve variable 'env:MYVAR' (enableSubstitutionInVariables=true)"
Hi,
- I had setup env variable in docker container running keylcoak.
- I had setup audience mapper:
`      "name" : "test.${env:MYVAR}.test.local",
      "protocol" : "openid-connect",
      "protocolMapper" : "oidc-audience-mapper",
      "consentRequired" : false,
      "config" : {
        "id.token.claim" : "true",
        "access.token.claim" : "true",
        "included.custom.audience" : "te

[2021-02-01 15:21] jkroepke commented on #300
Did you enable `import.var-substitution=true` as mention inside README.md?

https://github.com/adorsys/keycloak-config-cli#variable-substitution

[2021-02-01 16:04] todeb commented on #300
By config map, as other env.
[code]
[code]
[code]

[2021-02-01 17:58] jkroepke commented on #300
I'm looking at your url, do you execute `keycloak-config-cli` outside of the container?

[2021-02-01 21:18] brunocascio opened #301 "Support for *_FILE env secrets"
**Is your feature request related to a problem? Please describe.**
Inject credentials in a non-plain-text way via env variables

**Describe the solution you'd like**

Support for *_FILE env variables (e.g. KEYCLOAK_USER_FILE, KEYCLOAK_PASSWORD_FILE)
This is useful for injecting docker secrets as following:

[code]

[2021-02-01 22:18] todeb commented on #300
yes, it is outside container so keycloak-config-cli is running in different env.
After setting env variable within the same env as keycloak-config-cli, everything is working. So that was my misunderstanding :)

[2021-02-01 22:18] #300 closed

[2021-02-01 23:32] jkroepke commented on #300
@todeb any improvements to the docs to avoid such a misunderstanding?

[2021-02-01 23:36] jkroepke commented on #301
Looking at https://commons.apache.org/proper/commons-text/apidocs/org/apache/commons/text/StringSubstitutor.html

This maybe helps you:

[code]

Not tested, maybe this works too:

[code]

[2021-02-02 13:55] laszlomiklosik opened #302 "Support for authorization using client_credentials flow"
_keycloak-config-cli_ can currently be used with end-user credentials (username and password) but this option is not optimal for our use case (also not an ideal approach for server to server authorization).

Although we forbid access from the public internet to the admin console and admin REST API of all realms, we consider that this right it's still too powerful for an end-user and would preferab

[2021-02-02 14:38] jkroepke commented on #302
Sure if its possible with the existing keycloak admin-client.

But i guess it is:
https://github.com/keycloak/keycloak/blob/35ecaf07cb07fba0d9ebcea20cb0e5c76c13b0a4/integration/admin-client/src/main/java/org/keycloak/admin/client/KeycloakBuilder.java#L42-L51

Looks like, it just like more property and conditions and a test case, right?

[2021-02-02 17:29] brunocascio commented on #301
Hey @jkroepke,

Many thanks for your reply!

It seems does not work :/

[code]

I got 401 all the time (and the password dis OK) Is there a way to configure debug log level and see which credentials are the CLI using?

[2021-02-02 17:29] brunocascio commented on #301
Hey @jkroepke,

Many thanks for your reply!

It seems does not work :/

[code]

I got 401 all the time (and the password dis OK) Is there a way to configure debug log level and see which credentials are the CLI using?

[2021-02-02 21:55] jkroepke commented on #301
You have to write `${file:UTF-8:/var/run/secrets/keycloak-password}` inside you realm config json.

[2021-02-02 22:01] brunocascio commented on #301
I need the keycloak password in order to authenticate against keycloak. It's not a realm configuration. Is the `keycloak.password` config

[2021-02-03 15:07] laszlomiklosik commented on #302
Thanks for the quick answer!

Happy to see that the ground is already prepared in the code.
It will require a new confidential OAuth client configured with the client_credentials flow and a linked service account with the corresponding realm-management client roles assigned. There is no default OAuth client configured in Keycloak like this out of the box.

Indeed it's about 2 new properties (grant

[2021-02-03 16:15] todeb opened #303 "Add curl to docker image"
Could you please add curl binary to docker image?
it will help with fetching realm configurations from external service.

[2021-02-03 17:26] jkroepke commented on #301
I got it. I have to figure out what spring provides out of the box.

[2021-02-03 17:33] jkroepke commented on #303
Does wget not fit?

[2021-02-03 17:35] jkroepke commented on #303
If not, does it fits for your case, the keycloak-config-cli would support remote locations of realm binaries? Or do you have do some special options of curl to fetch your config?

[2021-02-03 20:38] jkroepke commented on #301
Okay, I found this:

https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/html/spring-boot-features.html#boot-features-external-config-files-configtree

Based on that, this may worked:

[code]

The `configtree:/var/run/secrets/` will pickup alle file in the folder /var/run/secrets/ and use the file name as key, the file conent as value. Using your example, spring will define a key na

[2021-02-03 22:00] jkroepke commented on #301
That may work better, i do not know if it works:

[code]

[2021-02-04 10:39] jkroepke commented on #302
@laszlomiklosik looking at keycloak admin-client, the condition are handled by the client it self.

It looks like just adding properties and create a test case for this scenario.

It will be result into, import a configured realm via username/password - then just login using the oauth client credentials flow.

[2021-02-04 14:35] todeb commented on #303
At least on adorsys/keycloak-config-cli:v3.0.0-10.0.2 there is no wget also.
Probably will fit anything that allows get file from webserver with auth basic.
In that case I'd like to fetch config files from Spring Cloud Config Server, https://spring.io/projects/spring-cloud-config

[2021-02-04 16:26] brunocascio commented on #301
Hey @jkroepke,

Thank you so much! It works, here is how it looks like now:

[code]

Cheers! :beers:

[2021-02-04 16:26] #301 closed

[2021-02-04 17:05] jkroepke commented on #301
I put a note about this in the README.md

https://github.com/adorsys/keycloak-config-cli#configure-properties-values-through-files

[2021-02-05 11:52] todeb opened #308 "keycloak-config-cli and keycloak-operator"
Hi,

What do you think about keycloak operator? Seems that it is also capable at importing configuration.
https://operatorhub.io/operator/keycloak-operator

Do you see any advantage of operator over config cli and vice versa on managing configurations?

[2021-02-05 12:36] jkroepke commented on #308
HI,

as I cloud native fan, I would prefer the keycloak-operator over keycloak-config-cli.

But weeks ago I tried to setup the keycloak-operator including the OLM stack. Unlike operator like prometheus operator, the keycloak operator looks quite complex. I was not able to start it.

Speaking for all operators: Yes. You could use tools like helm or even kubectl apply to configure any type of applic

[2021-02-05 13:21] todeb opened #309 "User deleted from gui is not reimported"
Hi, I have the realm config below.

Steps to reproduce:
1. Import config
2. users imported in keycloak
3. keycloak gui delete user or users
4. reimport config
5. users are not reimported into keycloak
6. but when change a name of the user in yaml, run reimport, users imported.

Tried with --import.force=true and without but same effect.

[code]

[2021-02-05 17:58] jkroepke commented on #309
which version of config-cli you are using?

[2021-02-07 16:02] #303 closed

[2021-02-07 23:05] todeb commented on #309
First run:
[code]
After deleting user and rerun:
[code]
Versions:
Keycloak-config-cli: 10.0.2
keycloak : 10.0.2

[2021-02-08 00:08] jkroepke commented on #309
In this case `--import.force=true` helps here. You mention that you already try it. But this line does not come up, if the force flag is set to true.

[2021-02-08 08:53] todeb commented on #309
Seems that it is working with the force. So most pobably I did something wrong wih force before.

[2021-02-08 08:54] #309 closed

[2021-02-08 10:34] razvan-tufisi commented on #302
PR with changes added.

[2021-02-08 12:45] todeb opened #313 "Executing import but not saving changes eg. dry-run, or diff"
Hi,

it might be usefull in some cases to just check and have an overview what will be changed, before running the actual import.

[2021-02-08 13:08] jkroepke commented on #313
A dry-run might not possible, I had to much to mock all the requests.

But I could think about a diff feature. I guess that would be helpful.

[2021-02-08 19:16] #302 closed

[2021-02-09 11:49] todeb opened #315 "Force continue on conflict"
Hi,

when specified ldap user federatiion and then try to add user with the same name I receive the conflict, which is ok. But the tool stopping processsing futher configuration lines. Expected is to continue of processing for other users and configuration after conflict.

Also additional log which configuration line is causing conflict, or some more details what cannot be imported might be useful

[2021-02-09 15:35] jkroepke commented on #315
The questions is, why it's okay to ignore an error?

[2021-02-09 20:49] jkroepke commented on #303
Hi!

wget is now available, additionally `import.path` supports remote urls now.

[2021-02-11 21:40] todeb commented on #315
I do not want to ignore it entirely, the warning about conflict should be enough, that can be fixed afterwards and not blocking entire importing. It might be also beneficial in testing configuration, so by one run, you will already see all the issues. Maybe --force parameter should allow this or setting up additional one.

[2021-02-11 22:05] jkroepke commented on #315
I disagree.

If Keycloak returns a client side error (HTTP 409), I wouldn't like to go in general report errors as warning. Instead that, users should fix the imports. There is not reason to allow not working import files by suppress errors.

You could have multiple import files each realm. If you want to test a realm config, extract the users to a different import file and run the users import fi

[2021-02-11 22:05] #315 closed

[2021-02-14 08:26] pmorch opened #317 "Multiple authenticationExecutions with settings don't work"
**Describe the bug**

If I have two `authenticationExecutions`, the first one's settings don't get applied.

Also I think the order is wrong (not sure here, though). When looking at a raw export from an existing realm, it looks like they should be ordered by priority in ascending order. But after import, they appear to be in descending priority order.

Background: We have developed our own Authent

[2021-02-14 12:48] jkroepke commented on #317
I guess your realm file is handcrafted. I'm trying to import your provided realm config, but keycloak (12.0.2) throw me an NullPointerException on import.

I'll look into it.

[2021-02-14 13:12] jkroepke commented on #317
I could found multiple bugs in keycloak-config-cli

* On each run a new authenticatorConfig (id1 and id2) is created.
* The authenticationExecutions priority is ignored.
* One of both authenticationExecutions doesn't have a authenticatorConfig

It seams to be broken.

[2021-02-14 17:43] #317 closed

[2021-02-14 17:57] jkroepke commented on #317
@pmorch Using your realm file give now a correct result back. (Verified by integration tests)

Could you confirm this? You could find some artefacts here: https://github.com/adorsys/keycloak-config-cli/actions/runs/566360933

[2021-02-14 19:30] pmorch commented on #317
Yes, I can confirm that the main branch fixes the symptoms I was seeing.

Very grateful for such as massive fix on a Sunday!

Ganz einfach fantastich! Viele Grüssen from Dänemark!

[2021-03-04 14:23] spahrson opened #338 "`eventsEnabled` is set to false as default"
**Describe the bug**
If not explicitly configured, the CLI always sets `eventsEnabled` in realms to `false`. If you are using a split configuration (multiple files) you have to make sure that the configuation file with `"eventsEnabled": true` is applied last. But IMHO the order of the configuration files is not a supported feature actually.

**To Reproduce**
Apply first:
[code]
And then:
[code]
=>

[2021-03-04 23:05] jkroepke commented on #338
It feels like a bug inside Keycloak itself?

[2021-03-05 18:49] chlumper opened #339 "Creation of realm with client_credentials authentication flow fails with 403 Forbidden"
**Describe the bug**
Creation of a new realm fails with `HTTP 403 Forbidden` if `client_credentials` authentication flow with `ClientId`/`ClientSecret` is used (although the realm actually got created).

**To Reproduce**

- <details><summary>Create client <code>my-cli</code> at master realm (with user based authentication) [click to expand]</summary>

  The client gets the service account role `ad

[2021-03-05 22:21] jkroepke commented on #339
I tried this and this resolves the error.

[2021-03-05 22:22] jkroepke commented on #339
Argh, i do a mistake, the quick is in main (https://github.com/adorsys/keycloak-config-cli/commit/e9f86fd79c9be3266312a41c7b2977d3ba1811dc) now, but I will open a PR to have a test for this case.

[2021-03-06 00:27] #339 closed

[2021-03-06 00:29] jkroepke opened #342 "keycloak-config-cli always removes manage-account-links"
**Describe the bug**

On any new client, keycloak-config-cli wants to remove the client role `manage-account-links`. Figure out why.

**To Reproduce**
* Create a client via keycloak-config-cli

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Keycloak Version: [e.g. 10.0.1] 12.0.4
 - keycloak-conf

[2021-03-06 09:27] #342 closed

[2021-03-06 17:00] chlumper commented on #339
Thank you very much for fixing the issue so quickly!
Just tested it with the `edge` image and everything works as expected now :clap:.

Looking forward to the next release version...

[2021-03-08 09:45] chlumper opened #349 "Removal of (referenced) clientScope causes 400 Bad Request"
**Describe the bug**
Removal of `clientScope` causes `HTTP 400 Bad Request` if the scope is referenced by a `client` at `defaultClientScopes` although it should be removed from the `defaultClientScopes` as well based on the import file ("invalid order of deletion").

**To Reproduce**

- <details><summary>Create scope <code>my-scope</code> and client <code>my-client</code> which references it at <c

[2021-03-08 17:57] jkroepke commented on #349
I guess its the same for `optionalClientScopes`, too.

[2021-03-08 18:32] #349 closed

[2021-03-14 00:49] jkroepke commented on #338
Fixed in https://github.com/adorsys/keycloak-config-cli/commit/d8c1e68400d3e6526a90eddd0ef9771d5e5b0180

[2021-03-14 00:49] #338 closed

[2021-03-18 01:07] pmorch opened #356 "Describe the implications of IMPORT_FORCE=/ --import.force true vs. false"
`README.md` doesn't really say much about these two except:

:-)

`de.adorsys.keycloak.config.service.RealmImportService#updateRealmIfNecessary` has:

[code]

So I'm guessing that if the input is unchanged since last run, the realm is left as-is, but if anything in the input has changed, the checksum is different, and everything is applied. Is that correct?

[2021-03-18 06:51] jkroepke commented on #356
Correct, thats all. Feel free to provide an understandable description as PR.

[2021-03-19 07:50] jkroepke commented on #356
Resolved by #357

[2021-03-19 07:50] #356 closed

[2021-03-26 16:35] Oh-tech opened #360 "Unexpected behaviour for client scope mapping on a client scope"
[00_create_realm_with_client_scope_mapping.json.zip](https://github.com/adorsys/keycloak-config-cli/files/6213146/00_create_realm_with_client_scope_mapping.json.zip)

Hi.

I have come across some bug(s) when I tried to maintain the state of realms in my Kycloak with the tool.

**Describe the bug**
Missed the ability to map the client roles to a client scope. Please consider the following snippet:

[2021-03-31 17:16] jkroepke commented on #360
Fixed in #361

[2021-03-31 17:16] #360 closed

[2021-04-07 09:17] mknittig opened #373 "keycloak-config-cli as Maven/Ivy dependency"
**Is your feature request related to a problem? Please describe.**

I would like to use keycloak-config-cli as a Gradle depdendency.

**Describe the solution you'd like**

Update the JARs in the central repository (there are outdated currently).

**Describe alternatives you've considered**

Point me to another public repository which has the current version of keycloak-config-cli.

[2021-04-07 17:42] jkroepke commented on #373
Hi,

it's not planned to publish keycloak-config-cli to a public repository. I think it's the wrong place.

From what I understand maven central is a good spot for libraries/frameworks but keycloak-config-cli would not fit into this, since it act an end user binary.

There are some zero versions of keycloak-config-cli but it's not possible to delete the version. There are deprecated leftovers.

Ma

[2021-04-07 17:42] #373 closed

[2021-04-09 09:13] mknittig commented on #373
OK, thanks. I understand that this is a bit of a edge user case but we want to use it programatically to create new realms. I'll take a look at source dependency.

[2021-04-15 07:55] OskarsPakers opened #382 "Brute force detection settings"
**Is your feature request related to a problem? Please describe.**
Brute force detection settings can be configured in Realm Settings -> Security Defenses -> Brute Force Detection
When exported, they are exported in realm export JSON file
[code]

**Describe the solution you'd like**
These fields are also imported into realm settings.

**Describe alternatives you've considered**
None

**Additional

[2021-04-15 08:17] OskarsPakers commented on #382
Please disregard the ticket. these properties are supported and importing the file. There were issues within the pipeline.

[2021-04-15 08:17] #382 closed

[2021-04-22 15:17] Oh-tech opened #392 "Inability to provision the client with service account enabled, when the email is used as a username."
Hi.

I've come across the following issue:

**Describe the bug**
It is impossible to add a client with the service account enabled, when the `registrationEmailAsUsername` flag for the realm is set to `true`.

The following exception is thrown:

[code]

**To Reproduce**
Please try to apply the attached configuration.

**Expected behavior**
The service account user has to be imported even when the `

[2021-04-24 11:17] #392 closed

[2021-04-24 20:15] pbaskakov opened #394 "409 Confilct on importing client role that is already present in Keycloak but not in state"
**Describe the bug**
If `import.state` is enabled and you're trying to import realm file that contains `clients` section where some of clients have `defaultRoles` defined (e.g., `USER` role), and the same role additionally defined in `roles.client` section, you will get the following error:
[code]
If the desctiption above is a little bit confusing, please check `test-realm.json` in the archive att

[2021-04-25 14:36] #394 closed

[2021-04-25 14:50] jkroepke commented on #313
Hi!

I tried some inside the [wip-diff](https://github.com/adorsys/keycloak-config-cli/tree/diff-wip) branch. But I could not find a java library that handle the yaml diff on stdout well.

I guess, I could not implement that.

[2021-04-26 06:10] qrider71 opened #398 "Delete clients not present in import file"
When importing the JSON with the CLI we noticed that clients already present in keycloak but missing in the imported json file did not get deleted. We deleted a client manually in Keycloak but missed out deleting a role mapper with references to the deleted client. This caused a crash of our keycloak instance.

Feature Request: The CLI should delete and clean-up items and referenced items present

[2021-04-26 07:40] jkroepke commented on #398
Hi @qrider71

since [v3.0.0](https://github.com/adorsys/keycloak-config-cli/blob/v3.0.0/CHANGELOG.md) the keyconfig-config-cli will only delete clients that are created by keycloak-config-cli itself.

Thats prevent fatal situations. Some clients are "system relevant" and should not be deleted (like the account client), but such builtin clients are not marked as builtin.

You could disable this beh

[2021-04-30 14:21] schuerg opened #405 "Typo in MANAGED.md"
The resource name of Roles in ./docs/MANAGED.md should be `role` not `roles`.

The correct settings for import state is e.g. `import.managed.role=full`

[2021-05-02 06:45] #405 closed

[2021-05-04 12:58] atbostudio commented on #394
@jkroepke hey :) is there a date for the next release which fixes this bug? kind regards julian

[2021-05-04 15:24] jkroepke commented on #394
@atbostudio
No new issues seen since this. I released 3.3.1

[2021-05-05 07:51] boxcee opened #412 "Cannot resolve variable 'role_uma_authorization' (enableSubstitutionInVariables=true)."
I exported the realm from Keycloak, removed all IDs and now am trying to import again.

`enableSubstitutionInVariables` is set to `true`, because I want to set a client secret from 'outside'.

I don't understand why I get the above error message.
In the exported `realm.json` there is something like this:
[code]

It seems it tries to resolve that as variable substitution, but this format does not e

[2021-05-05 07:55] jkroepke commented on #412
Damn, its correct. There is a incompatibility between keycloak defaults and the substitution function from keycloak-config-cli.

[2021-05-05 08:01] jkroepke commented on #412
@boxcee

Could you try to add the option

[code]

Does it help?

[2021-05-05 08:15] boxcee commented on #412
@jkroepke okay, I tried this:
[code]

And got this error:
[code]

I will try changing the args line to:
[code]

[2021-05-05 08:30] boxcee commented on #412
Seems to work!

I get a different error now:
[code]

[2021-05-05 08:35] #412 closed

[2021-05-05 08:36] jkroepke commented on #412
Hi @boxcee

what was the error?

Anyway, I'm planning the make the `${` and `}` configurable to prevent such conflicts in the future.

[2021-05-05 08:44] boxcee commented on #412
After chaning to:
[code]

I got the error:
[code]
But this is not related to the env-substitution anymore, so this issue is closed for me.

All your env substitution syntax has a colon `:` in it. Maybe parse for `${` & `:`? Or are you using a library for this?

Thanks for the hint with the ENV.

[2021-05-05 08:55] jkroepke commented on #412
I'm using StringSubstitutor from org.apache.commons.text

https://commons.apache.org/proper/commons-text/apidocs/org/apache/commons/text/StringSubstitutor.html

I'm planning to use `$(` and `)` in the next major version. Kubernetes does the same.

https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/

[2021-05-06 15:26] thomasdarimont opened #414 "Cannot apply realm configuration against Keycloak 13.0.0"
**Describe the bug**
A clear and concise description of what the bug is.

Cannot apply realm configuration against Keycloak 13.0.0, due to changes in RealmRepresenation (new fields).

**To Reproduce**
Steps to reproduce the behavior. Please provide full working json files to reproduce the issue.

(Perhaps this could be added as a reproducer template :))

1) Run Keycloak
[code]

2) Create minimal r

[2021-05-06 18:24] jkroepke commented on #414
Hi,

yes. Thats expectable since there is no keycloak-config-cli for Keycloak 13.

Additionally, there are no synced keycloak libs on maven central yet. https://mvnrepository.com/artifact/org.keycloak/keycloak-admin-client

Nothing todo here unless the libraries are availible.

I guess dependabot will open a PR if keycloak 13 is availible on maven central.

[2021-05-08 14:38] #398 closed

[2021-05-08 14:48] jkroepke commented on #414
Hi @thomasdarimont

I'm going to disable some tests for Keycloak 13. I decide that, because it's a bug inside keycloak, not in keycloak-config-cli and not all users may affected.

For future releases, there is a special tag called `edge-build`.

`edge-build` includes the source code and run maven on runtime. By define an env variable like `KEYCLOAK_VERSION`, you could run keycloak-config-cli again

[2021-05-09 01:14] #414 closed

[2021-05-22 21:05] lukasmrtvy commented on #414
I have same problem with same dataset ( bug.yaml ) as op, I am using `docker.io/bitnami/keycloak-config-cli:3.4.0-debian-10-r1` image.

[code]

[2021-05-22 22:42] jkroepke commented on #414
Hi @lukasmrtvy

looks like bitami uses only the keycloak 12 flavor of keycloak-config-cli.

Try `adorsys/keycloak-config-cli:v3.4.0-13.0.0`.

[2021-05-23 02:50] pmorch opened #430 "Unrecognized field "oauth2DeviceCodeLifespan" against 11.0.2 with docker:latest"
**Describe the bug**

When applying `contrib/example-config/moped.json` against 11.0.2, I get the same error reported in #414. But that error focuses on how something changed in keycloak 13. This issue is about 11.0.2.

**To Reproduce**

Apply `contrib/example-config/moped.json` configuration against keycloak 11.0.2 using

[code]

See issue. See that it works fine with:

[code]

**Expected behavio

[2021-05-23 03:09] pmorch opened #431 "Please document the `--debug` and `--trace` command line options and the `KEYCLOAK_LOGLEVEL` and `ROOT_LOGLEVEL` envs"
**Is your feature request related to a problem? Please describe.**

It would be nice to have documented how to increase log level when things go south. I've forgotten how I noticed the  `--debug` and `--trace` command line options, but today I find mention of  `KEYCLOAK_LOGLEVEL`  and `ROOT_LOGLEVEL` environment variables in `src/test/java/de/adorsys/keycloak/config/AbstractImportTest.java`.

**De

[2021-05-23 07:05] jkroepke commented on #430
Hi @pmorch

the docker tag `latest` reference the latest release of `keycloak-config-cli` and use the latest available version of the keycloak admin-cli.

`latest-11.0.3` is latest version of `keycloak-config-cli` but it use the `keycloak admin-cli` from 11.0.3.

I clarify the documentation about the docker tags, this may should help.

Rare versions of Keycloak supporting multiple versions, e.g. t

[2021-05-23 07:05] #430 closed

[2021-05-23 07:36] jkroepke commented on #431
Hi @pmorch

`KEYCLOAK_LOGLEVEL` and `ROOT_LOGLEVEL` are used inside the integration tests to configure the Keycloak. The environment variables are supported from the docker container of Keycloak and do nothing at keycloak-config-cli. (except there is some hidden magic)

Currently, keycloak-config-cli does not implement logging. Since keycloak-config-cli using spring boot, the spring boot logging i

[2021-05-23 11:43] pmorch commented on #431
Ok, i might have misunderstood their usefulness. If you think they don't provide help when things aren't working, then phase just close this.

Things are working fine for me now, so i don't have a problem that needs debugging. I just saw "more logging" with e.g --debug and assumed it would help. Perhaps not.

Sorry to waste you time twice in one day...

[2021-05-23 11:43] #431 closed

[2021-05-26 05:46] JaquierM opened #438 "Synchronization of user federation after import"
**Is your feature request related to a problem? Please describe.**
I have a Keycloak configuration with a user federation configured, when I deploy the configuration I still need to login in to sync all the user.

**Describe the solution you'd like**
When the realm contain one or more user federation, I like to have a immediate synchronization with the federation.

**Describe alternatives you've c

[2021-06-15 14:43] thomasdarimont opened #451 "Default roles not applied when creating a new user in Keycloak 13.0.1"
A new user created with the keycloak-config-cli tool does not have the default realm role assigned.
See the example below.

1) Run Keycloak
[code]

2) Create minimal realm file
[code]

3) Run Keycloak-Config-CLI
[code]

Inspecting the roles for the newly created user with kcadm yields an empty list.
[code]

However, when I create another user with kcadm I see the proper default role(s). Since the

[2021-06-15 22:32] jkroepke commented on #451
Hi,

I created a realm through keycloak UI and use the yaml (converted to JSON) as import file. The user was created by keycloak, but kcadm get an empty result, too.

[code]

idk, if kcadm has some specific client implementations here.

[2021-06-15 23:15] jkroepke commented on #451
okay I'm running keycloak-config-cli with more logging

[code]

keycloak-config-cli is removing the role `default-roles-demo3`, since the user does not have the role defined in the import json. I verify it, this is the same behavior like the real keycloak import.

If you do an export for the realm, the users would have `realmRoles: ["default-roles-$realm"]` defined inside the export json realm lik

[2021-06-16 07:50] thomasdarimont commented on #451
@jkroepke thanks for looking into this!

I just did a quick test with keycloak 12.0.4 and the previous version of keycloak-config-cli
[code]

Given the following user definition:
[code]

I see the following executions:
[code]

The created user does not have the realms roles `offline_access` and `uma_authorization`. However the `demo2` user still has the `account` client roles [`manage-account`,`vi

[2021-06-16 14:11] thomasdarimont commented on #451
Thanks for looking deeper into this :)

Yes, I think it makes sense to exclude `default-roles-$REALM` from the roles removal.

[2021-06-16 20:26] jkroepke commented on #451
Hi @thomasdarimont ,

can you take a look at #452 if it's fit? You many find compiled artefacts inside inside github actions.

[2021-06-16 20:46] jkroepke commented on #438
Resolved by #439

[2021-06-16 20:46] #438 closed

[2021-06-17 15:11] thomasdarimont commented on #451
@jkroepke thanks for the fix!
I couldn't find the jar, but built a docker image from your branch locally and this is working fine.
Users created without realm role configurations now have the default-roles-$REALM which includes the account roles.

I think this is fine now. As an additional feature it might be helpful to be able to explicitly express that a user should NOT have default roles. Can t

[2021-06-17 18:23] jkroepke commented on #451
This is the trade-off and the downside of the comfortable solution. That would not possible anymore.

[2021-06-17 20:13] jkroepke commented on #451
Alright, this behavior is now toggled by a new flag. By default, the role is excluded now. But if someone wants to explicit remove the default role form a user, the flag can be turnt off now. That covers everythink.

[2021-06-18 18:59] #451 closed

[2021-06-19 20:18] thomasdarimont opened #455 "Env Variable substitution is broken in 4.0.1*"
It seems as if the env variable substitution in keycloak-config-cli is broken since 4.0.1.

Env Variable references with defaults and without defaults are not resolved anymore.
Neither `sslRequired: ${env:SSL_REQUIRED:-EXTERNAL}` nor `sslRequired: ${env:SSL_REQUIRED}` in combination with `-e SSL_REQUIRED=ALL` works.

See the reproducer below:

Run Keycloak
[code]

bug.yaml:
[code]

[code]

keycloa

[2021-06-19 20:20] thomasdarimont commented on #455
Okay I think I just hit this: https://github.com/adorsys/keycloak-config-cli/commit/aef6da540eb9d4bfd8807d44cddccd314a3b2eab :)

[2021-06-19 20:21] #455 closed

[2021-06-19 20:30] jkroepke commented on #455
The change is document for 4.0.0, but I forgot them yesterday. Strictly a 5.0.0 version was required here to solve that correctly, but since the timeframe was small here, I put the breaking change in a patch level version.

Other option like move the tag and re-release the version 4.0.0 feels bad, too.

Btw. the syntax, use `$(var)` here instead `${}` comes from Kubernetes directly.

https://kuber

[2021-06-25 10:34] valb3r commented on #313
@jkroepke I think it can be done via Json diff and alike. See
https://github.com/valb3r/yaml-diff-example/blob/master/src/test/java/YamlDiff.java
Javers lib can be configured to produce cleaner output, and JsonDiff output can be prettified as well

[2021-07-03 19:51] wenerme opened #464 "clientScope import not works before a change nothing save"
**Describe the bug**

After import

![image](https://user-images.githubusercontent.com/1777211/124365420-757a4400-dc7a-11eb-9738-115cd5c381ea.png)

in this status, the `defaultDefaultClientScopes` and `client.defaultClientScopes` not works

edit, change nothing, then save

![image](https://user-images.githubusercontent.com/1777211/124365445-a6f30f80-dc7a-11eb-8124-3f04d0f9bb3a.png)

now this clien

[2021-07-03 19:51] #464 closed

[2021-07-11 12:32] jkroepke commented on #308
I'm going to close this issue. I tried something with the java operator sdk, but I'm not able to run config-cli with-in the operator loop.

[2021-07-11 12:32] #308 closed

[2021-07-11 16:29] jkroepke commented on #313
I played around with https://github.com/google/diff-match-patch to create diff from yaml. But I'm not able to generate useful diffs, since most of the local configuration does not include ids + there is no way to get a full dump of a realm.

Masking secrets from the output is a new different topic. I'm going to close this, since its not really possible yet.

The best possible approach would be to

[2021-07-11 16:29] #313 closed

[2021-07-12 00:44] arulrajnet opened #472 "Session is not cleared after config-cli run"
**Given** Using keycloak config cli version `v0.8.0`
**When** Run the following command in the shell
**Then** After successful execution, There are active sessions in User -> username (admin) -> Sessions which is created by config cli.

[code]

**Expected behavior**
After running the command, the config cli should logout the session which is used. There should be no session from `admin-cli` client

[2021-07-12 12:24] jkroepke commented on #472
Hi,

thanks for reporting this. Currently there is no builtin method inside the keycloak client to terminate a sessions.

See: https://github.com/keycloak/keycloak/pull/8258

[2021-07-13 00:19] arulrajnet commented on #472
Ok.

@jkroepke Actually, we can logout the current session using refresh token. Here is a curl example

[code]

This may not be possible in keycloak-admin-client. Just for your information.

[2021-07-13 07:40] jkroepke commented on #472
If there is a way to do a request manually (using the RESTeasy java library), I could implement it.

Otherwise, I hope they implement the PR soo.

[2021-07-14 19:11] #472 closed

[2021-07-15 19:17] Oh-tech opened #478 "The custom attributes in realm configuration file remove the state of the realm"
**Describe the bug**
If realm configuration contains any attribute in the `attributes` field, the realm state will be overwritten during its update. This leads to the fact that objects that are managed (provisioned) by the tool are forgotten, eg. clients.

**To Reproduce**
Add customer attributes in the realm config JSON, like:

[code]
Create a client with such config and then try to delete the cl

[2021-07-17 09:06] #478 closed

[2021-07-28 13:28] Oh-tech opened #486 "The custom realm attributes can not be updated, the former value is preserved"
**Describe the bug**
When the realm contains a custom realm attribute, it can not be updated with consequent runs of the tool.

**To Reproduce**

1.  Add any custom attribute in the realm configuration like:
[code]
2. Run the `keycloak-config-cli`

3. Update your realm configuration file, like the following:
[code]
4. Repeat step 2.

5. Check your realm attributes in Keycloak, the observed values

[2021-07-28 20:48] #486 closed

[2021-08-02 16:36] wenerme opened #489 "support initial password"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

current import user and credential like

[code]

but this will override the password if already exists

**Describe the solution you'd like**
support a initialPassword like

[code]

**Describe alternatives you've considered**

none, do not

[2021-08-02 21:16] jkroepke commented on #489
Hi,

thanks for your suggestion. I want to support this but I will verify there are alternatives without add new json keys. Modify the json scheme is quite complex, since i'm using the Keycloak representation classes and I wont copy and patch them.

[2021-08-02 21:43] wenerme commented on #489
@jkroepke thanks, a global flag for create credential if not exists is also ok to me.

[2021-08-02 22:04] jkroepke commented on #489
I figure out, something like:

[code]

Could work. userLabel is mainly used for OTP/WebAuthn.

Please take a look at #493 and verify if the documentation is useful.

[2021-08-03 07:51] wenerme commented on #489
looks good to me, I'll test this when released.

[2021-08-03 11:34] #489 closed

[2021-08-04 01:25] mpreu opened #496 "LDAP federated user update fails with 400 Bad Request"
**Describe the bug**
Having a Keycloak configured with a LDAP federation I can initially import users and modify e.g. their groups just fine. I also can run the configuration again for some time to change e.g. user groups again. At some point, I get a `400 Bad Request` when running the same configurations again (with or without changes).

Keycloak then fails with:

Deleting the users from KeyCloak

[2021-08-04 22:08] jkroepke commented on #496
can you provide a full realm?

If I create a provider with READ_ONLY, i'm not able to add groups to the user.

I'm using this config:

https://github.com/adorsys/keycloak-config-cli/blob/21cbf42f2aa6c584dbbd57509147bf1d00e6a889/src/test/resources/import-files/user-federation/04_update_realm_with_federation_readonly_add_group.json

[2021-08-04 22:39] mpreu commented on #496
Hi,

my minimal configuration (with some blacked-out LDAP values) looks like this:

[code]

results in a user representation in Keycloak:

[code]

[2021-08-05 00:49] mpreu opened #498 "LDAPStorageMapper not updatable"
EDIT: After checking the feature list again, not sure if bug or feature request, as I am not sure whether the description fits into the `Update identity provider mappers` category.

**Describe the bug**
On a Keycloak instance with READ_ONLY LDAP federation and configured LDAPStorageMappers everything works fine on the initial configuration run. Changing mapper config values after that in the confi

[2021-08-05 05:58] jkroepke commented on #498
We have a test https://github.com/adorsys/keycloak-config-cli/blob/61760998d1fe67d7cf3c108fa903088af88f5527/src/test/java/de/adorsys/keycloak/config/service/ImportComponentsIT.java#L207 that verifies a sub component can be updated.

But it's possible that Keycloak ignores some property on the update endpoint.

[2021-08-05 06:08] jkroepke commented on #496
Thanks.

Using a full qualified group name

[code]

works now.

While looking deeper into it, I saw that keycloak-config-cli creates a user first, then it will create the user storage provider. Maybe I have to swap that.

[2021-08-05 11:12] mpreu commented on #498
At least the frontend is just sending a regular PUT to `https://example.com/auth/admin/realms/ip/components/<id>`, which from my limited understanding could land [here](https://github.com/keycloak/keycloak/blob/cd342ad5714f15db1cc8b0cd55b788e6543c6dc8/services/src/main/java/org/keycloak/services/resources/admin/ComponentResource.java#L161). On this endpoint at least the value I tried the most ("al

[2021-08-05 21:19] jkroepke commented on #498
@mpreu I look deeper into this issue.

The error was that keycloak-config-cli ignores changes on subComponents. Since keycloak returns a dummy value for bindCredential, the config part of the module has been always a diff compared to the yaml, except if the bindCredential is `${vault.bindCredentialLDAP}`. Maybe you can confirm that if you change `${vault.bindCredentialLDAP}` to a real value, keycl

[2021-08-06 00:25] mpreu commented on #498
@jkroepke Thanks for the fast update.

I can confirm what you said. Changing to a real value fixes the issue.

Would be great if the `vault` notation could be supported.

[2021-08-06 06:57] #498 closed

[2021-08-06 10:07] jkroepke commented on #496
Hey @mpreu

did you know, if there are multiple hosts behind `"ldap://xxx:3268"` (I guess yes in a typical AD setup)? Are you able reproduce the error, if you use the address of one domain controller directly?

[2021-08-06 15:39] mpreu commented on #496
It should be a regular AD setup and it is very likely that there are multiple hosts behind this configured LDAP (considering the information I have). But I have to admit, I do not have deeper knowledge about the general setup in this specific case. So verifying against a single Domain Controller is not possible for me right now.

I can verify though, that after the initial import of a federated us

[2021-08-06 16:19] jkroepke commented on #496
If you are using master or latest stable release, I would expect that. Since the user is created before the federationStorage is configured [which is limited? supported](https://lists.jboss.org/pipermail/keycloak-user/2018-April/013630.html). In the next release, the federationStorage is configured first, then the handling of user secondly.

I would expect this issue too, if plain curl is used to

[2021-08-06 17:09] #496 closed

[2021-08-06 18:05] mpreu commented on #496
@jkroepke Thanks, will try it out. For my use cases it would be currently ok.

But I just wanted to confirm, that setting the `modifyTimestamp` to `read.always.from.ldap=false` seems to help with this issue (at least during the last 2 hours I could not reproduce the error). Not sure if that is undesirable for the most part to deviate from the default setting.

Might be helpful if that confirms to

[2021-08-10 11:13] ialisyed opened #503 "Docker image built for arm64 architecture"
Hi,

There is no docker image for macs with M1 chip. I have found a Keycloak image built on arm/64 arch and now I also need keycloak-config-cli to run on this architecture as well.

I believe a docker image build via arm/64 architecture would work fine for macs with m1 chips.

[2021-08-10 13:49] jkroepke commented on #503
keycloak-config-cli is fully written in java. The (.jar) artifacts of keycloak-config-cli are architecture independent.

You can use use any openjdk arm64 as base image (like [adoptopenjdk/openjdk11:ubuntu-jre](https://hub.docker.com/layers/adoptopenjdk/openjdk11/ubuntu-jre/images/sha256-d9e88d0cf1c5188885da84c0c33374db114243753877a53abdcf5c86fe5d27e2?context=explore)) and put the jar into the ima

[2021-08-10 14:02] ialisyed commented on #503
[code]

This is what I am getting when I am trying to build the image

[2021-08-10 20:32] jkroepke commented on #503
Ye, to build the image, you have to run maven to built the artefacts first.

[2021-08-11 13:14] jkroepke commented on #503
@ialisyed

You could take a look at https://hub.docker.com/repository/docker/adorsys/keycloak-config-cli/tags?page=1&ordering=last_updated&name=v4.2.1-rc0

Looks like arm64 images are [easy](https://github.com/adorsys/keycloak-config-cli/commit/6e0c374b9040194a3fd26c88bc1d609d607571bf) to implement.

[2021-08-11 13:28] #503 closed

[2021-08-11 15:52] mylesagray commented on #503
Thank you for this @jkroepke super quick turnaround!

[2021-08-14 06:22] Cyben opened #506 "Discussion"
Hey,
I'm really interested in this project, and I would like to use it.
But before that I have a few questions.

1. I can see that in the latest version of this project there is no support for old versions of Keycloak,
I would like to know why, as far as I know there is no difference in the api.

2. How do you manage clients with this project?
In my case I can have up to 5 thousand of clients, and

[2021-08-14 08:02] jkroepke commented on #506
Older versions of keycloak contains some bugs. By dropping older versions, I can remove some workarounds inside the code to keep it clean.

The execution time in github action is limited, I would not like able to run tests for 8 different Keycloak versions. Since it consume a lot of minutes. I would not like to support a version, if I'm not running tests for that version.

Until keycloak-config-cl

[2021-08-14 08:45] Cyben commented on #506
Awesome, thank you very much!

[2021-08-14 08:45] #506 closed

[2021-08-14 08:46] jkroepke commented on #503
@ialisyed

Based on your feedback "This is what I am getting when I am trying to build the image"

The the dockerfile on main branch supports to build images while using jars from remote locations like

[code]

That remove the requirement to build the project first.

[2021-08-18 05:56] borislav72 opened #511 "Client Authorization Resources get deleted"
Hello,

We stared using keycloak-config-cli, but we have a problem with the following case:
1. A client is created via keycloak-config-cli.
2. Authorization resource is created for that client using Keycloak API and users are granted permissions to that resource.
3. When keycloak-config-cli is run again, the authorization resource gets deleted.

In  ClientImportService.java I see:

`
 ​private sta

[2021-08-18 06:12] borislav72 opened #512 "invalidPasswordHistoryMessage when running keycloak-config-cli"
And another problem that we have:

Using keycloak-config-cli we create realm and some users. For the realm we have defined password policy: one of the rules is for password history:

`
"passwordPolicy": "... and passwordHistory(3)"
`

When keycloak-config-cli is run  more that 3 times we get invalidPasswordHistoryMessage error.

keycloak-config-cli performs a checksum comparison, but this is done

[2021-08-18 06:56] jkroepke commented on #511
HI @borislav72

in general, its expected that changes outside keycloak-config-cli are removed.

`authorizationSettings` are ignored on first, since they depend on other resources like groups or roles.

The clients `authorizationSettings` just handled at a later stage

https://github.com/adorsys/keycloak-config-cli/blob/a82f8b9d5335c54bc7e68b1ff38e1570991dea63/src/main/java/de/adorsys/keycloak/conf

[2021-08-18 06:58] jkroepke commented on #512
You could set a initial password of a user

https://github.com/adorsys/keycloak-config-cli/blob/main/docs/FEATURES.md#user---initial-password

In that case, the password is managed only on creation time.

[2021-08-18 08:13] jkroepke commented on #512
The root issue is keycloak-config-cli has no chance to detect if a password needs to be changed or not. Currently, keycloak-config-cli sets the password all time.

[2021-08-18 08:28] borislav72 commented on #511
@jkroepke Thank you for the explanation. Option 2) works for us.

[2021-08-18 08:28] #511 closed

[2021-08-18 17:48] george-newby opened #513 "Realm "defaultDefaultClientScopes" and "defaultOptionalClientScopes" are ignored"
**Describe the bug**
The top level realm properties "defaultDefaultClientScopes" and "defaultOptionalClientScopes" are ignored.

I found this out because I wanted to remove the default "web-origins" client scope as it substantially increased the size of my access token size which went over the chromes 4kb cookie size limit.

**To Reproduce**

1. Create test.json import file
[code]

2. Spin up fres

[2021-08-19 06:21] borislav72 commented on #512
@jkroepke Thank you

[2021-08-19 06:21] #512 closed

[2021-08-19 09:41] jkroepke commented on #513
I may add a lot of test case here.

For example. If an existing client has `defaultClientScopes: group` and keycloak-config-cli tries to add `defaultDefaultClientScopes: group`, then this be result in a 409 Conflict and the keycloak log reports a SQL violation ...

[2021-08-19 10:45] #513 closed

[2021-08-31 07:49] skhro87 opened #526 "HTTP 500 / Keycloak NullPointerException with 15.0.1"
**Describe the bug**
I'm spinning up a fresh Keycloak 15.0.1. via Docker.
Then I try to sync `moped.json` with `adorsys/keycloak-config-cli:v4.2.1-rc0-15.0.1`
Keycloak-Config-Cli reports `HTTP 500 Internal Server Error`.
Keycloak Server logs report (see full logs at the bottom of this post):
[code]
**After this, the Keycloak deployment becomes unusable.**
The Admin Console cannot be opened anymore

[2021-08-31 22:03] jkroepke commented on #526
Hi,

i'm unable to reproduce this error...

I'm using

* quay.io/keycloak/keycloak:15.0.1
* adorsys/keycloak-config-cli:v4.2.1-rc0-15.0.1

[code]

[2021-09-01 07:09] RaJiska commented on #526
Hi @jkroepke ,

Could you try again with setting the following env vars in Keycloak Sync CLI while running the tool:

* IMPORT_FORCE=true
* IMPORT_STATE=false

Calling sync with provided configuration messes up and crashes our Keycloak instance beyond repair. To recover from this we have to drop the Keycloak volume and fully restart the container.

[2021-09-01 16:04] jkroepke commented on #526
I agree. The example moped.json file will not work with `IMPORT_STATE=false`. I'm able to reproduce it.

`IMPORT_STATE=false` need some additional attention in general.

If the state feature is disabled, keycloak-config-cli would purge all configurations (including builtin configuration) except they are configured inside the import json. In this case, keycloak-config-cli would purge the components

[2021-09-03 04:32] skhro87 commented on #526
We will not use `IMPORT_STATE=false` for now.
Thank you for your feedback!

[2021-09-03 06:58] #526 closed

[2021-10-01 04:27] RaJiska opened #541 "401 Unauthorized in Clusterized Environment (Replicas > 1)"
### Current Behavior

It is not possible to apply our realm file as a 401 is returned by Keycloak when using `keycloak-config-cli` with more than one replicas in Keycloak. The issue happens when trying to retrieve `/serverinfo` (after successful login).

### Expected Behavior

Synchronisation should happen without error.

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: 12.0.4

[2021-10-01 07:16] jkroepke commented on #541
Does your keycloak use sticky sessions, eg. by using a cookie?

[2021-10-01 08:57] RaJiska commented on #541
We have stickiness enabled on the load balancer. We are using AWS' Application Load Balancers. After paying closer attention to logs, it seems like the sync tool is not passing ALB's generated cookies `AWSALB` and `AWSALBCORS` that were passed in the `Set-Cookie` directive in response to successful login.

After testing an authenticated request with and without AWS cookies it seems like Keycloak r

[2021-10-01 10:35] jkroepke commented on #541
By reading your initial post, the only different between CLI and Browser could be the cookie handling.

In generally, this might be an issue at keycloak side (becuase in this case, the default keycloak client does not handle cookie, too), I will take a look how I can configure it in the underlaying http client.

[2021-10-01 21:07] jkroepke commented on #541
@RaJiska Can you take a look at https://github.com/adorsys/keycloak-config-cli/pull/543

DL: https://github.com/adorsys/keycloak-config-cli/pull/543/checks?check_run_id=3771895619

[2021-10-02 07:55] RaJiska commented on #541
Thank you for your PR. I had the opportunity to test it and still am getting the same error, however this time with an additional warning:
[code]
That for every requests that are made. I assume the cookie is still being discarded because of this warning. After digging a little bit it appears that the issue is linked to `expires` being a recent HTTP property that is not fully supported by default.

[2021-10-02 08:36] jkroepke commented on #541
Can you share a curl output of your keycloak, to have an understanding which headers are in response?

Based on that, I can create a mock and do some test against.

[2021-10-02 09:31] RaJiska commented on #541
As requested, here is a cURL request (the one used to login):
[code]

[2021-10-02 09:32] RaJiska commented on #541
As requested, here is the cURL request:
[code]

[2021-10-02 10:59] jkroepke commented on #541
Even in case of valid cookie, no cookie are sent at /admin/serverInfo request.

[code]

Note: The credentials here are dummy values here.

[2021-10-02 11:17] RaJiska commented on #541
You mean on the PR or on mainstream ? Because I thought we already established cookies were not sent on mainstream.

Yes, this is the problem. Amazon's Application Load Balancer is generating essential cookies that are needed to ensure requests are routed to the same Keycloak node. As you can see in my cURL, `AWSALB` and `AWSALBCORS` are in the response with the `set-cookie` directive at the login

[2021-10-02 11:26] jkroepke commented on #541
Using cookies for sticky sessions is quite common, I know is pattern for years.

I'm using a different approach for the cookie handling now, please check the PR.

[2021-10-02 12:26] RaJiska commented on #541
Apologies I thought I didn't make myself clear enough on the issue the first time I explained it.

The PR seems to fix it now. For some reason I'm not able to get debug log anymore when executing through Docker (when I pass `--logging.level.root=debug` to the Docker image after building), but I assume I must be doing something wrong or not passing appropriate flags when building.

The PR fixes the

[2021-10-02 13:00] jkroepke commented on #541
I do a additional commit on the PR that reverts a part of #540 .

Maybe this fixes the last issue, too.

[2021-10-02 13:21] #541 closed

[2021-10-20 13:30] wenerme opened #553 "Example for add Identity Provider Links to user"
### Problem Statement

Can't find any example on Identity Provider Links

### Proposed Solution

add a Identity Provider Links json

### Environment

_No response_

### Additional information

_No response_

### Acceptance Criteria

_No response_

[2021-10-20 22:25] jkroepke commented on #553
Like this?

[code]

[2021-10-21 07:32] wenerme commented on #553
found

[code]

but import not works without error

[code]

[2021-10-26 15:33] jaggaer-asalina opened #558 "Cannot find stored execution by authenticator or flow by alias"
Hi All,
I am evaluating this library ( great job!! ) and i'm trying to understand if it can be used for my purposes.

What i'm using:
- keycloak-client-config: tried both the main version and tag 4.3.0
- my keycloak version is 15.0.2
- OpenJDK 11.0.11

What i did:
- exported from my keycloak the realm configuration
- moped the configuration removing ids, containerIds and all the things that are no

[2021-11-04 11:51] jaggaer-asalina commented on #558
First of all thanks for the reply... i still have some doubts and probably in my previous post i made some errors.
I try to summarize:
- i have a realm with a custom authentication flow
- our custom authentication flow is using some custom authenticator that we developed ( these authenticators are deployed into Keycloak )
- i tried to create a simplified version of my realm configuration starting

[2021-11-04 15:15] jkroepke commented on #558
If the export give a basic-flow back, this is the correct value. I just compare the realm with the existing one.

Can you please provide an json file that I'm able to import through Keycloak UI (while create new realm)?
I tried to import the provided json file, but if I import the json file, I just got a

Message on the UI + java.lang.NullPointerException on the server log. Maybe it's touch simpli

[2021-11-04 15:52] jkroepke commented on #558
Can you confirm that this json comes close to your example?

[code]

[2021-11-04 16:24] jkroepke commented on #558
I took a look at the Keycloak source code.

My opinion is, the provided setup is maybe out of the supported borders.

Have a `authenticator` configured at the execution, while the sub flow is not a `form-flow` is not a supported configuration.

Because:
* the UI does not allow to create such configuration.
* The handler behind the REST API do not set the `authenticator` property unless the flow is

[2021-11-04 16:44] ddowling-act opened #563 "Similarly named entities cause null pointer issues in StateRepository"
### Current Behavior

Given two entities named, for example "client-a" and "client-a-test", the current code (ln 107 of de.adorsys.keycloak.config.repository.StateRepository

`        long attributeCount = customAttributes
                .entrySet()
                .stream()
                .filter(attribute -> attribute.getKey().startsWith(getCustomAttributeKey(entity) + "-"))
                .c

[2021-11-05 01:00] jkroepke commented on #563
I'm trying to implement a test that triggers the NPE. can you provide an example?

[2021-11-05 08:42] ddowling-act commented on #563
Hi @jkroepke, I can try, though I'm honestly not sure what has got it into the state where the null pointer is thrown further than what I've given above.

[2021-11-05 09:12] ddowling-act commented on #563
In my case, the attribute "de.adorsys.keycloak.config.state-default-roles-client-{name}-test-0" is already present in the keycloak realm, and the lookup is being done for "de.adorsys.keycloak.config.state-default-roles-client-{name}-0"
The null pointer occurs because "public List<String> getState(String entity)" returns null when it should return a list, and this is because the get from the map re

[2021-11-05 09:26] ddowling-act commented on #563
I'll also note that "de.adorsys.keycloak.config.state-default-roles-client-{name}-0" *does not* exist currently in the keycloak realm, hence the lookup returning null. I think if both did exist there would still be an issue though as the check for how many exist would return 2 instead of 1, so it would still fail while looking for "de.adorsys.keycloak.config.state-default-roles-client-{name}-1", b

[2021-11-05 09:42] ddowling-act commented on #563
Below are the client representation in my realm file:
`{
      "clientId": "example-test",
      "surrogateAuthRequired": false,
      "enabled": true,
      "alwaysDisplayInConsole": false,
      "clientAuthenticatorType": "client-secret",
      "redirectUris": [
        "*"
      ],
      "webOrigins": [],
      "notBefore": 0,
      "bearerOnly": false,
      "consentRequired": false,
      "st

[2021-11-06 17:00] jkroepke commented on #563
I got the same, looks like the null value are converted on String.join. Since the delimiter is empty, it wont have any effect.

Anyway, I will apply your suggestion, since this feels more correct.

Only clients create by keycloak-config-cli will deleted by keycloak-config-cli.

[2021-11-06 17:13] #563 closed

[2021-11-07 01:38] #558 closed

[2021-12-02 02:10] #553 closed

[2021-12-02 09:16] tingeltangelthomas opened #582 "Unrecognized field authenticatorFlow after update to rhsso 7.4.9"
### Current Behavior

[code]

### Expected Behavior

Realm should be created/updated as with rhsso 7.4.7

### Steps To Reproduce

[code]

### Environment

- RHSSO Version: 7.4.9
- Keycloak Version: 9.0.13 (https://access.redhat.com/articles/2342881)
- keycloak-config-cli Version: 3.4.0

Running keycloak-config-cli in a container:
[code]

### Anything else?

rhsso 7.4.8 release notes: https://acces

[2021-12-02 09:50] jkroepke commented on #582
Hi,

there is no official Keycloak 9.0.13 version.

But RedHat published such artifacts in the own repository.

https://mvnrepository.com/artifact/org.keycloak/keycloak-core/9.0.13.redhat-00006

I wont give official support here, but I can give you an introduction, how you could an own version if keycloak-config-cli which is *maybe* compatible to RH SSO.

Requirements installed on system:
* Maven

[2021-12-02 12:00] tingeltangelthomas commented on #582
Hi Jan,
thank you for your really quick answer!
I built jar file with 9.0.15.redhat-00002. It seems to work. I need to double check it.

Regards
Thomas

[2021-12-02 12:00] #582 closed

[2021-12-08 19:52] HendrikJanssen opened #589 "Setting authorization resource owner does not work or fails"
### Current Behavior

When I want to set the owner of a resource, keycloak-config-cli either fails to create the resource (400 Bad request) is returned, or the owner is not set when updating the resource.

[code]

### Expected Behavior

The resource owner should be set accordingly.

### Steps To Reproduce

[code]

### Environment

Im using the docker hub image version of keycloak-config-cli

- Key

[2021-12-08 20:44] jkroepke commented on #589
Hi, a complete realm json that include the steps to reproduce the issue would help here a lot.

By define `--logging.level.http=debug`, all HTTP requests are dumped.

[2021-12-08 21:13] HendrikJanssen commented on #589
Minimal realm json:

[code]

Outgoing request is:

[code]

Response:

[code]

The user is definitly created before that so it does not seem to be related to an ordering issue.

Interestingly, when i create the resource without an owner, and then set the owner with the id:

[code]

I get an 500 from Keycloak with `Owner must be a valid username or user identifier. If the resource server, the client

[2021-12-08 21:37] jkroepke commented on #589
Keycloak is expecting an id here.

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/services/src/main/java/org/keycloak/authorization/admin/ResourceSetService.java#L120-L124

But keycloak allows to define the username as id here, too:

https://github.com/keycloak/keycloak/blob/bfce612641a70e106b20b136431f0e4046b5c37f/server-spi-private/src/main/java/org/keycloak/m

[2021-12-08 22:14] jkroepke commented on #589
It looks like Keycloak excepts the username of an owner inside the id field instead of the name field. But if the resource is GET through the API, then the username is inside the owner.name field instead owner.id field.

Looks like an inconstancy here. I added a patch which set the username as id before sending the REST call to keycloak. #590

[2021-12-09 09:47] #589 closed

[2021-12-09 11:28] jkroepke commented on #589
@HendrikJanssen in case the error still exists, just reach me out here.

[2021-12-15 23:26] HendrikJanssen commented on #589
Thank you very much, that was pretty fast! A quick question though: Which image should I use to test the PR changes? Is `edge` the right one? `latest-15.0.2` seems to have been pushed 11 days ago, which would not include the PR changes if I understand correctly

[2021-12-15 23:59] HendrikJanssen commented on #589
Nevermind, it's documented clearly in the readme, I'm sorry 😄

[2021-12-16 17:08] tobilarscheid opened #593 "Behavior for multiple realms in one yaml file is not defined"
### Current Behavior

*GIVEN*
A yaml file with multiple realms in it, e.g.
[code]

*WHEN*
1. I import this file for the first time
2. I make changes to this file and import it later

*THEN*
1. Everything works as expected
2. Changes are not imported

### Expected Behavior

Initial load and subsequent updates should work

### Steps To Reproduce

_No response_

### Environment

- Keycloak Version: 1

[2021-12-17 00:31] #593 closed

[2021-12-17 07:23] tobilarscheid commented on #593
Alright, this was impressive! Thank you!!

[2021-12-17 12:24] jkroepke commented on #593
@tobilarscheid I hope it fixed you needs.

[2021-12-22 16:48] jledoux-sonergia commented on #339
Hello there !

I'm kind of facing the same issue while testing locally with docker and docker-compose on Ubuntu. Not sure if it's relevant to open a new issue, so I'm commenting here for now.

Keycloak: 15.1.1
Keycloak Config CLI: v4.5.0-15.1.1

Both containers are attached to an internal network and are able to reach each another.

I'm trying to inject my JSON realms configuration through keycloa

[2021-12-22 17:23] jkroepke commented on #339
Thats the reason here. I can see a http:// URL is configured here. If you are trying to login through http://, then keycloak would deny this request.

[code]

The curl request in you example return 200 but keycloak-config-cli does not do a simple GET / request. It constantly tries to authenticate, which already result in a 403 forbidden error.

From my point of view. Your issue is a different one

[2021-12-23 00:49] bjconlan commented on #582
We've just migrated to rh-7.5 (keycloak 15). this issue we found was that it looks like the keycloak team have corrected the spelling of the attribute (now exports both `authenticatorFlow` (corrected field name) and `autheticatorFlow`(old 9-14 i presuming as this isn't working on latest)

So perhaps supporting both attributes in the future (while `authnticatoFlow` becomes deprecated) would be usef

[2021-12-23 08:38] jledoux-sonergia commented on #339
Thank you for the very quick reply and for your explanation and advice.

Makes total sense, guess I was expecting Keycloak to know it's on an internal network, but from its side it's still an external request which has to be secured. It would certainly work if I could reach it from localhost.

[2021-12-23 10:00] jkroepke commented on #339
Checkout compose network_mode

https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode

You can configure that the keycloak-config-cli container will join the keycloak network namespace. If both containers share the same namespace, then you can reach keycloak via localhost.

[2021-12-23 10:25] jledoux-sonergia commented on #339
Oh nice! I'll look into it, I didn't know you could actually do that.

I found another way around this, that I'm sharing here as well.

According to Keycloak documentation:

So I just changed my docker internal network CIDR and now Keycloak config CLI can reach it like it would if it was on a same network namespace:

[code]

[2021-12-23 11:27] jkroepke commented on #339
I guess it's something like this

[code]

Looks like you found already a alternative solution.

[2021-12-23 13:33] jkroepke commented on #582
For upcoming folks, take a look here: https://github.com/adorsys/keycloak-config-cli/blob/main/docs/RHSSO.md

[2022-01-10 18:23] jkroepke commented on #231
You can provide a step-by-step manual to archive this?

[2022-01-10 18:43] ic2hrmk commented on #231
Let me share what I have found, I hope it helps to reproduce it.
I used the guide from the Keycloak official manual (https://www.keycloak.org/docs/latest/securing_apps/) and one unofficial from here https://keycloak.ch/keycloak-tutorials/tutorial-token-exchange/

The main difference between these two is that the official guide does it via Web UI, and the second one via admin-cli (read as `via Keyc

[2022-01-10 18:51] jkroepke commented on #231
I setup a keycloak through docker

I create an identity provider (type: oidc), but I do not have a `Permissions` yet.
![image](https://user-images.githubusercontent.com/1560587/148822049-31840a5d-46ce-47f7-8037-21633bbdcaef.png)

[2022-01-10 19:02] ic2hrmk commented on #231
Sorry, I should have mentioned that you need to run the Keycloak with the token exchange feature enabled:
[code]
<img width="1157" alt="Screenshot 2022-01-10 at 14 02 15" src="https://user-images.githubusercontent.com/11685484/148823857-3835c1d8-1bf8-47ac-981e-443892a6b528.png">

[2022-01-10 19:35] jkroepke commented on #231
I will looked into it. I never run keycloak-config-cli agaist a feature toggled keycloak.

[2022-01-10 20:30] jkroepke commented on #231
Hi @ic2hrmk

I can confirm, if I follow your steps, `authorizationSettings` are defined while authorization is bearer-only.

But this is not possible to reproduce this through the import API of Keycloak. For example if you do a partial realm export with clients, delete the realm inside Keycloak and create a new realm based on the export json file, the `realm-management` client has access type `con

[2022-01-10 20:48] jkroepke commented on #231
I will remove the pre validation in keycloak-config-cli.

Well, such realms provided by the author still results into a HTTP 500, but it's up to Keycloak to fix that.

[2022-01-10 20:59] ic2hrmk commented on #231
Hello @jkroepke,

Thank you so much for a quick response and for validating this case!
I end up letting the `realm-management` client be with with `Access Type: confidential`, but I manually disabled the service account for this client, something like:
[code]
Not sure if it's the best approach, but it prevents this service account from obtaining the authorization token in the realm.

I was about t

[2022-01-10 21:03] jkroepke commented on #231
The best approach is to report this [here](https://github.com/keycloak/keycloak/issues), since issues.redhat.com is obsolete.

I will remove the pre-validation from keycloak-config-cli but Keycloak will this validate too and returns a HTTP 500 back.

[2022-01-12 17:59] ic2hrmk commented on #339
The original issue is still reproducible with almost the same setup as @chlumper mentioned.

Environment setup:
[code]

Initially, the target realm was created by Keycloak Config CLI v4.3.0 and it (CLI tool) was restarted multiple times during the releases with no issues at all. The problem came up when the Keycloak & Postgres were restarted (data anyways was stored in the volume so no data loss w

[2022-01-12 18:28] jkroepke commented on #339
Hi,

by reading the logs here, the error is a different one.

The author issue is around authentication/login. But you login clearly works. SSL or Hostname restrictions are not effected here. You gain an error 403 by access the realm `my-realm`.

Can you verifiy, the CLI users has enough permissions? `create-realm` is able to create realms, but not able to read existing one.

[code]

Feels like, a

[2022-01-12 18:36] ic2hrmk opened #612 "Improper Logout at the end of the realm import"
### Current Behavior

When Keycloak Config CLI attempts to log out at the end of the realm import, it sends the logout request to the master realm which is missing the `client_secret` parameter.

Keycloak Config CLI obtains token with the `grant_type=client_credentials`.
Request logs:
[code]

### Expected Behavior

The utility should log out without an error.

### Steps To Reproduce

[code]

### E

[2022-01-12 18:44] jkroepke commented on #612
Keycloak does not provide a logout method - https://github.com/keycloak/keycloak/issues/9451

I had to implement an own one and it looks like it's not compatible with `grant_type=client_credentials`.

[2022-01-12 19:44] ic2hrmk commented on #612
For the client credentials, I can assume that it's enough only to revoke the token. To be honest, I can't see much difference between token revocation & logout here from the logical perspective since there is no cookie session as such is created, correct me if I'm wrong

[2022-01-12 19:50] jkroepke commented on #612
In my option, a logout is user level while token revocation is administrative level.

I already saw some setups, where a client (for example in master realm) have permissions to modify the application realm. In such a scenario, the client may not have the permission to revoke tokens for sessions in master realms.

[2022-01-12 20:04] ic2hrmk commented on #612
Not sure about the permissions required to revoke tokens. Since token revocation is a part of OpenID Connect (`inherited` from the OAuth2), there are no pre-requisites to revoke an own token.

Most of the applications I created have no Keycloak's native roles/permissions/etc but are capable to revoke their own token they obtained from the `token` endpoint.

I have seen a similar discussion and the

[2022-01-12 20:10] ic2hrmk commented on #339
Thanks, @jkroepke!

Yes, adding the `admin` role to the service account used by Config CLI fixed the issue, thanks!

The other problem here is that setting an administrative role to the service account might be a security concern since there is a gap between just creating a realm and administrating everything from the master realm.

Do you have any recommendations on the role set for this case?

[2022-01-12 20:44] jkroepke commented on #339
My Keycloak knowledge in this corner is very rare. Looks like Keycloak is missing a global level view (or auditor role).

As I know, after realm creation, there is a client in the master realm named `<realm-name>-realm` and you can consume the `view-realm` role here. but thats a 2 step import here, since this is only possible after the realm is created (and the cli client needs permissions inside

[2022-01-12 20:52] jkroepke commented on #612
Looks like, this is just [SPEC](https://tools.ietf.org/html/rfc6749#section-4.4.3).

I will just skip the logout here, if no refresh_token is available. Because I read the [RevocationTokenEndpoint](https://github.com/keycloak/keycloak/blob/8ea09d38168c22937363cf77a07f9de5dc7b48b0/services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenRevocationEndpoint.java#L237) and it looks like, if `g

[2022-01-12 21:41] ic2hrmk commented on #339
I did a reset cache for all realms on the Keycloak manually via the Web UI and restarted Keycloak Config CLI with**out** the admin role - it worked without the 403 error.

Later on, restarted Keycloak & Postgres pods and later the Config CLI tool as well - the issue was reproduced...

[2022-01-12 21:41] #612 closed

[2022-01-12 21:48] ic2hrmk commented on #339
Btw, restarting Config CLI tool for the same pod (instance) works without any additional actions all the time.

One more, I played around with assigning roles to the `master-realm` including `view-realm, query-realms, manage-realm`, but it didn't help. The only thing that fixed the issue was to add the master realm `admin` role. Keycloak is so finicky sometimes, haha

About the two-steps import, i

[2022-01-12 21:53] ic2hrmk commented on #612
The funny thing is that you can enable the refresh token on the Keycloak for the particular client:
`Clients > client A > Settings > Advanced Settings > User Refresh Tokens`

[2022-01-12 21:54] jkroepke commented on #339
But this affects only the master realm itself, for `my-realm` realm, there should be a `my-realm-realm` client.

[2022-01-12 22:09] jkroepke commented on #339
https://www.keycloak.org/docs/latest/server_admin/#global-roles

I guess this is, what you want and expect. Maybe keycloak we grant such permissions, but keycloak-config-cli will revoke them again. because the permissions are not defined in the json.

[2022-01-13 02:51] ic2hrmk commented on #339
That's a nice point!

I don't think that's the case. In my situation, Config CLI has nothing to do with the permissions as it persisted in the master realm, not the target one, so I do believe all the permissions/roles are to be saved in the master realm.

But I will check your assumption, I will try to change the  properties to keep all the configurations:
[code]

[2022-01-13 09:33] jkroepke commented on #339
Otherwise, you have to use a user (grant_type=password) to archive this, because grant_type=client_credentials together with the realm role create-realm does not work.

In case, it works with a user instead a client, its one more ticket again.

[2022-01-13 20:31] ic2hrmk commented on #339
So, I tried different combinations, all my results are in the table below.

To make it all clear, I set all the `import.managed.<resource>` to be 'no-delete' to make sure that Config CLI won't delete it.

The reason I was adding/removing token exchange is that I found a different topic on the Keycloak Discussions saying that if the Policy Enforcer is enabled (in my case it was for the token exchan

[2022-01-13 21:34] jkroepke commented on #339
No clue whats going on here. I'm not able to reproduce your error...

I tried to test this on my local machine, here is my docker run:

[code]

Then I create a service account

<details>
<summary>service-account.json</summary>

[code]
</details>

Then I create an additional realm.json

[code]

<details>
<summary>realm.json</summary>

[code]

</details>

Logs. Between second and third run, I restar

[2022-01-14 18:40] ic2hrmk commented on #339
Finally, I was able to find and reproduce the issue. I am sorry, I cannot share full source codes as I am not allowed to, but I'll add as many details as possible.

@jkroepke, my initial setup was a bit different from what you mentioned in the last comment. My docker image of the Keycloak contained exported realm saved in the `master-realm.json`. There is an exported master realm that would be imp

[2022-01-17 10:29] thomasdarimont opened #616 "keycloak-config-cli fails to start with NoClassDefFoundError: org/apache/commons/lang3/StringUtils"
### Current Behavior

The latest keycloak-config-cli release 4.6.0-16.1.0 fails to start with a NoClassDefFoundError.

[code]

### Expected Behavior

keycloak-config-cli container should start without error

### Steps To Reproduce

1. create bug.yaml
bug.yml:
[code]

2. start keycloak 16.1.x

3. start keycloak-config-cli container
[code]
[code]

[2022-01-17 10:46] schmitzhermes commented on #616
Hi - I spotted the same bug, it's probably related to this change 4970c9ae. It reduces the scope of the `commons-lang3` dependency to test, however it's needed at runtime. I will open a PR that fixes the issue. @jkroepke maybe you can elaborate what your intention was and if my PR fixes it?

[2022-01-17 12:14] jkroepke commented on #616
Thanks a lot for this finding, I don't know why this happing even on my local machine.

#617 fixes this problem, thanks. But does someone knows how I could add a test for this case? All tests are green (since the dependency was scoped for test). But at the end, its not a complete end 2 end test and keycloak-config-cli has a lot test scoped dependencies.

[2022-01-17 12:14] #616 closed

[2022-01-17 12:57] thomasdarimont commented on #616
Thanks for the quick fix!

Regarding: "But does someone knows how I could add a test for this case?"
How about creating a smoke-test which starts a plain Keycloak / Keycloak.x container that is then provisionied with the keycloak-config-cli container? Then you inspect the exit code of the keycloak-config-cli container.

[2022-01-17 12:58] schmitzhermes commented on #616
Hmm the only thing I can think of is starting the JAR (as a "smoke test") in the github actions build process (possibly with a failing config) and check whether the output / exit code is the one you expected

[2022-01-23 10:11] jkroepke opened #622 "RFC: Officially dropping java 8 and 11 support"
Some dependencies like [SpringBoot](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-3.0.0-M1-Release-Notes#minimum-requirements-changes) going to introduce new major versions which requires at least Java 17.

This may have an impact of keycloak-config-cli in the future and I'm thinking about to drop Java 8 and Java 11 support here.

On good side, keycloak-config-cli does not have a

[2022-01-25 13:42] thomasdarimont opened #623 "Add support for setting an user initial password on user creation only"
### Problem Statement

Given a realm configuration with default users, consecutive `keycloak-config-cli` runs fail
with HTTP 400 Bad Request if `IMPORT_FORCE=true` is used and the password policy `passwordHistory(1)` is enabled for a
realm with default users that have a password set.

Keycloak stack-trace:
[code]

See the bug.yaml for reference.

The problem is that `keycloak-config-cli` just trie

[2022-01-25 15:29] jkroepke commented on #623
DId you see/test the current implementation?

https://github.com/adorsys/keycloak-config-cli/blob/main/docs/FEATURES.md#user---initial-password

[2022-01-25 16:53] thomasdarimont commented on #623
@jkroepke thanks for the quick response!

I totally missed that! This solves my problem,thanks!

[2022-01-25 17:14] #623 closed

[2022-01-27 21:12] SomeDeveloper13 opened #626 "README & Features documents are out of date."
### Problem Statement

README & Features markdown documents are out of date by a full release.

### Proposed Solution

Update the README & Feature documents to match the work that has been done.

### Environment

- Keycloak Version: N/A
- keycloak-config-cli Version: 4.6.1
- Java Version: N/A

### Additional information

_No response_

### Acceptance Criteria

- [] As a User, I should see the late

[2022-01-29 12:37] jkroepke commented on #626
Hi,

looking at README: Can you explain what is out of date here?

[2022-02-02 10:57] Fynnyan opened #630 "Import fails when creating composite realm roles when referenced roles don't exist on keycloak v 15.1.0+"
### Current Behavior

On Keycloak versions 15.1.1 and later the creation of new composite roles fails if the referenced roles do not exist yet.

On previous versions, we used 15.0.2, when creating a composite role, keycloak would fail silently and just create the base role.

That behavior of the management rest API for creating roles changed. with versions 15.1.1 and later the API returns an 404 i

[2022-02-02 11:31] jkroepke commented on #630
If you do already a fix on github, consider to create a PR including a test scenario?

[2022-02-02 12:05] Fynnyan commented on #630
I wouldn't call it a proper fix as it only considers our realm setup and I would say it doesn't really solve the issue and may lead to problems for other people.

I need to see if I find time in the next days to work on the problem.

[2022-02-02 12:56] jkroepke commented on #630
I may not 100% familiar with compsite groups. But we have also a lot of tests and a good test coverage. If there is a regression, I hope it will be detected by the test suite.

If you create a PR (even as WIP), then gh actions can validate the current approch.

[2022-02-03 13:41] ianwallen commented on #630
I'm having a similar issue

The issue seems to be related to the order in which the roles are added.

Composite roles are roles that include other roles so if those other roles are not created first then there is a failure.

i.e.  this will work because group 1 so it will be available when creating the composite role from group 2

[code]

This will fail because when creating group2, it will fail t

[2022-02-04 08:44] jkroepke commented on #630
@ianwallen Can you provide working complex sample? Such examples are a good base for test cases, since I'm start to develop feature by creating tests... :-)

The example that you provide may not even valid, since clients is an array and I do not have much experience in composite roles.

[2022-02-04 13:23] jkroepke commented on #630
I added a fix on #631

@Fynnyan if you could test that PR, it would be awesome.

The fix now if to exclude composite attribute first and handle all composites attributes later

[2022-02-06 14:42] ianwallen commented on #630
@jkroepke

I created a [commit](https://github.com/ianwallen/keycloak-config-cli/commit/cb3f40b7a3b4a38b37a61d3b831dda56abc91b95) based off the [nested-composites](https://github.com/adorsys/keycloak-config-cli/tree/nested-composites)  branch for #631

The commit contains another unit test where it add a composite client role before the related client roles are created.

It seems like the fix for

[2022-02-06 16:10] nigtrifork opened #632 "Add support for YAML anchors and aliases"
### Problem Statement

The Jackson YamlFactory does not support anchors and aliases.

Anchors and aliases allow you to minimize duplication in the realm config. Example:

[code]

### Proposed Solution

Discard the jackson YamlFactory, and use snakeyaml directly in KeycloakImportProvider.java. Snakeyaml is already used by Jackson.

I can make a pull request if you would like this feature.

### Envi

[2022-02-06 17:07] jkroepke commented on #632
I wouldn't expect that Jackson doesn't provide this functionality.

It makes sense to support anchors.

Yes, please.

Please mention that Jackson not only parse the YAML file, it also provides additional functions like validations. For example, if there is unknown property or a wrong datatype (array instead object, string instead interger), Jackson display this well.

Maybe you can use snakeyaml t

[2022-02-06 18:19] jkroepke commented on #630
Thanks, I pick you commit.

[2022-02-06 18:20] #632 closed

[2022-02-06 18:53] #630 closed

[2022-02-06 19:06] Fynnyan commented on #630
The fix you made works. I tested it with the given test data and also our projects realm configuration. I the issue is resolved.

Thank you for your work

[2022-02-09 21:29] ianwallen opened #634 "Properties from files does not seem to be working."
### Current Behavior

I'm trying to use the configtree as indicated in the reame.md documentation. (https://github.com/adorsys/keycloak-config-cli#configure-properties-values-through-files)

I attempted to create a property replacement using something like $(test.configtree.value) and I can verify that the property is loaded correctly however it does not seem to work.

### Expected Behavior

I exp

[2022-02-09 22:23] jkroepke commented on #634
Hi,

there is already a unit test to test system properties. If you take a look at https://github.com/adorsys/keycloak-config-cli#variable-substitution, you may see that

[code]

have a prefix `sys`. `$(sys:test.configtree.value)` should work while `$(test.configtree.value)` not.

[2022-02-10 14:16] #634 closed

[2022-02-11 13:49] ianwallen commented on #622
We are currently a java 11 shop mostly due to the LTS support

https://endoflife.date/java

17 is still fairly new and we will be waiting a little bit for it to mature before we switch over.  Hopefully we can start the upgrade process in the next couple month but it will depend on our upper management priorities.

8 is coming to the end of it basic support so no objection from me in dropping suppo

[2022-02-21 07:45] martinofner13 opened #641 "Make deletion of resources configurable for clients with remote resource management"
### Problem Statement

We have a client with activated authorization. The client can dynamically add resources - "Remote Resource Management" is activated
If we change the config (i.e. reconfigure default client scopes) and run keycloak-config-cli, all resources that have been created are purged.

The related source code is in `ClientImportService.java` (line 292):
[code]

### Proposed Solution

O

[2022-02-21 08:03] jkroepke commented on #641
How keycloak-config-cli could detect if client has "Remote Resource Management" activated?

[2022-02-21 08:08] martinofner13 commented on #641
This information is stored in `allowRemoteResourceManagement`

See sample config file:

[code]

[2022-02-21 17:10] jkroepke commented on #641
Its a use-case to add additional resources through keycloak-config-cli? For example, keycloak-config-cli should only delete resource that coming from keycloak-config-cli?

Or resource are coming exclusively from remote? In this case, the could exclude the whole handling of resources, if `allowRemoteResourceManagement==true` I'm asking independently from your case, since I do not know this feature.

[2022-02-22 04:15] RaJiska opened #645 "Error doesn't set exit status to non zero"
### Problem Statement

One of our realm we are trying to sync returns an error, however, the exit status return 0:

[code]

### Proposed Solution

Either:
- Exit status non zero if any error is shown
- Set a flag that allows to return non zero in case error shows up

### Environment

Docker Image: adorsys/keycloak-config-cli:v4.2.0-12.0.4

### Additional information

_No response_

### Acceptance

[2022-02-22 07:16] martinofner13 commented on #641
Yes - I can imagine this use case.
- Provide (static) resources via `keycloak-config-cli` (i.e. endpoints with url like `/api/admin`)
- Dynamically created resources by the client (i.e. photo albums with url like `/api/albums/123`)

It makes sense that `keycloak-config-cli` manages "own" resources, but don't delete the other ones - if `allowRemoteResourceManagement` is enabled.

[2022-02-22 07:51] jkroepke commented on #641
I will open a PR for this. But would enable this, not matter which value `allowRemoteResourceManagement` has.

[2022-02-22 08:12] jkroepke commented on #645
Hi,

I'm unable to reproduce this on the lastest version:

[code]

and on the version you provided:

[code]

Do you override the entrypoint of the container/using any wrapper shell script that may not pass the exit code?

[2022-02-23 08:10] jkroepke commented on #641
Hi @martinofner13

while I adding some test around the new feature, I also want to create resources through the UMA endpoint to verify that keycloak-config-cli are not delete them. I'm using [keycloak authz client](https://www.keycloak.org/docs/latest/authorization_services/#_service_client_api) to archive that.

Currently, I'm getting an error while using the client

[code]

This is my realm file

[2022-02-23 08:27] jkroepke commented on #641
Hi @martinofner13

are you able to test the pull-request from https://github.com/adorsys/keycloak-config-cli/pull/646 ?

[2022-02-24 12:48] dowhiletrue opened #648 "How to apply a policy from realm-management in client using the cli"
The minimal json in https://github.com/adorsys/keycloak-config-cli/issues/231#issue-727402130 creates a policy `esb-token-exchange` in the client `realm-management`.
If fine-grainded authorization (`keycloak.profile.feature.admin_fine_grained_authz=enabled`) is enabled, the policy `esb-token-exchange` can be applied in client `esb-token-exchange` afterwards:
![fine-grained-permission](https://user

[2022-02-24 13:16] jkroepke commented on #648
Hi @dowhiletrue,

by default, the input definition of the CLI is the same as an export format of a realm. I have no idea, if the UUID is random OR the UUID is related to the client itself.

I never worked with `admin_fine_grained_authz`. Is it possible to describe the flow in the UI, how I can configure the policies inside the Keycloak **step by step**? Then I can look into it.

[2022-02-24 15:00] dowhiletrue commented on #648
Hi @jkroepke

Sure, here it is:

1) add `JAVA_OPTS: '-Dkeycloak.profile.feature.admin_fine_grained_authz=enabled'` in `environment` in `docker-compose.yml` and start the `keycloak` containter
1) create a new realm: `fine-grained`
1) add new group with name `client-admin-group`
1) add new client using defaults and name it `fine-grained-permission-client`
1) navigate to the brand-new tab `Permission

[2022-02-26 23:30] #641 closed

[2022-02-27 07:27] jkroepke commented on #648
Hi,

thanks for provide a step by step manual.

I look into it, and keycloak-config-cli currently not supports fine granted authz. I implement some additional code locally, but keycloak throws 500 server errors without any additional Information.

I or someone else have to look deeper into it. I can't not garantuee any solution soon since its really complex from REST API site. The documentation on

[2022-02-28 07:25] jkroepke commented on #648
Had some success, could you try if the #650  it its for you?

Take a note: if instead the uuid suffix, you can use $<client id> suffix, too. See some examples in the PR.

[2022-02-28 11:22] dowhiletrue commented on #648
Hi @jkroepke

At first glance, https://github.com/adorsys/keycloak-config-cli/pull/650 seems to work well using the `$clientId` notation.

Thank you very much!

[2022-02-28 14:26] jkroepke commented on #648
Hi @dowhiletrue,

glad to hear that it covers you case. I have currently serious issues around remove such policies from Keycloak through keycloak-config-cli. Additionally, the new Quarkus distribution have a different behavior compared to the legacy (Wildfly) distribution. It will take some more time to merge the linked PR.

[2022-02-28 23:23] #648 closed

[2022-03-02 08:16] MeerBiene opened #656 "Ignore files starting with a dot (.) or ".gitkeep" files"
### Problem Statement

We had the problem that I placed a .gitkeep file in a directory because the contents of the directory will be generated by a CI pipeline. Keycloak config cli failed cause it could not handle the gitkeep file.

### Proposed Solution

Ignore files starting with a dot (.) or files that have "git" in their name

### Environment

- Keycloak Version: RedHat Single Sign On 7.5 (whi

[2022-03-03 08:06] maschmi opened #658 "Mismatch between doc and code for import.remove-default-role-from-user"
Hi,

looking in the documentation it is stated:
[code]

The variable is defaulted to false. According to the documentation I would assume the behaviour did not change and the default-role would be removed when it is not given in the json import.

However, in code it looks like this:
[code]
So the default-roles-$realmName is removed from the list of roles to delete when the config variable is false

[2022-03-04 05:48] maschmi commented on #658
Hi @jkroepke ,

yes. This looks good.

Reading the parameter I had the same feeling, so I checked the code as it was not working as expected.

If I may suggest an alternative wording:

But the word "unless" would also be enough.

Thank you for the quick response!

[2022-03-04 11:55] jkroepke commented on #658
Hi,

I used you alternative wording and append a disclaimer. Take a look, if its fine #659

[2022-03-06 09:15] #658 closed

[2022-03-07 01:56] #626 closed

[2022-03-09 10:53] tobilarscheid opened #662 "Changing a username while keeping the email unchanged leads to 409 conflict"
### Current Behavior

1. Create a realm.yaml that contains a user with a name and an email address
2. Run `keycloak-config-cli` to apply the realm.yaml
3. Change the realm.yaml so that the user's email stays the same but the username is changed
4. Rerun `keycloak-config-cli` --> error, 409 Conflict

### Expected Behavior

A new user with the new name should be created, the old user should disappea

[2022-03-09 12:40] xRodney opened #663 "Fine grained auth policy for Identity Providers, Roles and Groups"
### Problem Statement

The PR https://github.com/adorsys/keycloak-config-cli/pull/650 added support for Client Permissions, which are defined on client "realm-management" and define permissions for various clients.

In our realm, we are using permissions, but not only for Clients but also for Identity Providers, Roles and Groups.

Similar to Clients, the Permissions and Policies to IdPs, Roles and

[2022-03-09 13:24] jkroepke commented on #663
Hi @xRodney

are you interest to provide a PR, including tests?

[2022-03-09 14:39] xRodney commented on #663
sure, I'll give it a try

[2022-03-09 15:03] jkroepke commented on #662
Deleting users is currently not implemented in keycloak-config-cli, only create and update.

Thats why keycloak-config-cli will not delete the old user and the new user has a conflict with the existing user.

[2022-03-09 20:48] gchamon opened #665 "Docker image latest-15.1.1 pulling latest-17.0.0"
### Current Behavior

When I use the docker image to deploy keycloak configs, it warns be of keycloak version mismatch:

[code]

On staging it runs without issues, but on production the procedure caused the cluster to panic with an internal server error:

[code]

Both `latest-15.1.1` and `v4.8.0-15.1.1` have the same digest hashes, so I expect them both to be the wrong keycloak-config-cli versions

[2022-03-09 21:04] #665 closed

[2022-03-09 21:32] jkroepke commented on #665
Thanks for reporting this. Should be fixed in 4.8.1 now.

[2022-03-15 18:44] ianwallen opened #671 "import.path starting with ../ fail to load files on unix"
### Current Behavior

When I run the program with  --import.path=../realms

It will not load the files in the realms folder as it identifies ".." as being a hidden folder.

This was working in previous release (v4.7.0).

### Expected Behavior

I expect it to load the files within folder specified.

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: 16.1
- keycloak-config-cli Vers

[2022-03-15 22:59] jkroepke commented on #671
Hi,

this is true. if a file is starting with a dot, in unix its a hidden file. On windows, a separate dos attribute is resposable to mark a file as hidden.

[2022-03-16 21:38] jkroepke commented on #671
It looks like a Java 8 specific issue here: https://github.com/adorsys/keycloak-config-cli/pull/674

[2022-03-17 11:00] ianwallen commented on #671
It is odd that this is being reported as a Java 8 issue.  Maybe some java 11 versions are also affected? This is the java version that I'm using

[code]

[2022-03-17 13:28] jkroepke commented on #671
Hi @ianwallen,

I was able to reproduce the issue local. It appends, if the working directory is different that the jar.

A workaround for your case could the glob pattern: `--import.path=../realm/*` Using this way, I was not able to reproduce the issue anymore.

Since we currently have 2 different implementation to scrape a directory, I'm going the deprecate DirectoryImporter, since the glob base

[2022-03-17 22:14] ianwallen commented on #671
Tried the following 2 options
`--import.path=../realms/*`
`--import.path=${PWD}/../realms`
And got message like the following
`2022-03-17 21:53:57.430  INFO 1120 --- [           main] d.a.k.c.provider.KeycloakImportProvider  : 0 configuration files found.
`

Tried `--import.path=../realms/*.yaml` and got the following error

[code]

Tried the following and it worked since it is supplying the full

[2022-03-19 11:45] jkroepke commented on #622
I will remove java 8 support soon See: #677

[2022-03-20 08:13] jkroepke commented on #671
Hi @ianwallen

are you interest to look into #677? The change contains some breaking change (all import related properties has been changed/docmented in the CHANGELOG.md). I also rewrite the import pipeline, i hope it also fixes this issue for now.

[2022-03-20 12:22] ianwallen commented on #671
With your v5 branch it still did not work. But if I changed it to use `$(realpath ../realms/*)` then it found the file.

[code]

[2022-03-20 12:48] ianwallen commented on #671
@jkroepke,
Using your V5 branch I was able to fix the issue by using the getCanonicalFile() function as shown in this commit.

https://github.com/ianwallen/keycloak-config-cli/commit/42c95083e39bf9e340354b5b4248eedeef023a90

I did not check to see if this will cause other issues.

[2022-03-20 21:50] jkroepke commented on #671
I guess getCanonicalFile has some unexpected behaviors like resolve symlinks, e.g.

I'm going to exclude . and .. from the hidden check.

[2022-03-21 07:39] #645 closed

[2022-03-21 07:40] #656 closed

[2022-03-21 10:22] ianwallen commented on #671
Not sure if the following would help?

https://stackoverflow.com/questions/45938856/how-can-i-determine-the-canonical-path-of-a-file-without-following-symbolic-link

[2022-03-21 10:58] jkroepke commented on #671
Could you test `.toAbsolutePath().normalize()` ?

My problem is.. each time I said it works for me, you says.. it wont work ...

[2022-03-21 12:09] ianwallen commented on #671
The following commit worked for me

https://github.com/ianwallen/keycloak-config-cli/commit/b22e106492b5aa8d75ff215d51605762e7ecbb03

[2022-03-21 19:23] jkroepke commented on #671
It throws some NullPointerExceptions on some tests, I need to surrend it with a try/catch bloch

[2022-03-21 21:50] ianwallen commented on #671
I tested with the latest v5 branch and it seems to be working as expected.  So you can probably close this issue once PR #677 is merged

Thank you

[2022-03-21 22:47] #622 closed

[2022-03-21 22:47] #671 closed

[2022-03-22 17:12] yalpertem commented on #240
Which version are you using @sandhraprakash? In the later versions, you need to use `$()` format.

[code]

[2022-03-22 17:13] sandhraprakash commented on #240
sorry I immediately realized the mistake I made.
it works with this "secret": "$(API_CLIENT_SECRET)"

[2022-03-24 13:58] RVSO-NC opened #679 "Docker troubles - import.files.locations"
### Current Behavior

I ma trying to simply start the container for Keycloak-config-cli with docker compose and it seems like something is off.
First of all there is a "build: .", that failed. Removing that I am able to start the container but it then fails with this message:
Description:
 Binding to target org.springframework.boot.context.properties.bind.BindException: Failed to bind properties u

[2022-03-24 14:16] Bessonov commented on #308
TBH, I don't see any value which an operator can bring to the table for kcc.

Operators make total sense for workloads with a **lifecycle**. Like unattended load watching and scaling databases beside HPA. But kcc is one-shot-job¹. Using it as a kubernetes' `Job` allows composition and universal usage. It doesn't make any difference to deploy a Job, a ConfigMap or a CRD. But coupling to an operator

[2022-03-24 15:17] jkroepke commented on #308
@Bessonov  I agree with you in terms of Operators. kcc do not operate a realm. the just an file to API proxy)

Going away from operations and looking to controllers or sidecars (like https://github.com/kiwigrid/k8s-sidecar), there is still a use case, the same way as grafana has implement a sidecar container to import dashboards.

But this increase complexity on code site has a greater weight than

[2022-03-24 15:23] jkroepke commented on #679
HI @RVSO-NC ,

looks like a pre-release version was wrongly published as lastest. In meanwhile, please stay on `adorsys/keycloak-config-cli:4.9.0-17.0.0`

[2022-03-24 15:29] RVSO-NC commented on #679
THANK YOU! Was getting so frustrated xD This fix works :)

[2022-03-24 15:30] RVSO-NC commented on #679
Will leave the issue open until it has been fixed

[2022-03-24 15:32] RVSO-NC commented on #679
Did have to use ENV variables instead:
    environment:
      KEYCLOAK_URL: https://keycloak.auth.netcompany.com.127.0.0.1.nip.io:8443/
I like them better anyway :)
Please also update docer-compose

[2022-03-24 16:05] jkroepke commented on #679
[code]

[2022-03-25 08:28] xRodney commented on #308
I still believe that there are use cases that *currently* cannot be fulfilled using neither kcc, nor the official keycloak-operator.

But I understand that this is not what kcc wants to be and the maintenance costs would be too high. After all, stalling of development of such a useful tool is the last thing I would want.

Thanks for hearing me out.

[2022-03-26 20:32] jkroepke opened #686 "Future of keycloak-config-cli"
Hi all,

in few weeks, I will have a new job in a new company. keycloak-config-cli will retain in the adorsys GitHub organization. Since I'll lose my permissions here, and I'm no longer maintain or responsible for [adorsys/keycloak-config-cli](https://github.com/adorsys/keycloak-config-cli).

adorsys will do the future maintenance here.

Thanks.

[2022-03-28 06:58] ptr1120 opened #687 "Render the results of variable substitution"
### Problem Statement

Hello,

First of all thank you for this great project.
I have a question wheather it is possible to render/print the resulting properties and keycloak resources after variable substitution has been processed in order to verify/document the configuration that will be applied to keycloak.

### Proposed Solution

_No response_

### Environment

- Keycloak Version: [e.g. 10.0.1]

[2022-03-28 07:24] RVSO-NC commented on #686
Thanks for your great work! :)
Hope adorsys will keep it up.

[2022-03-29 12:23] RVSO-NC opened #689 "Unreliable component - keyprovider"
### Current Behavior

Hi
I am trying to create a new realm with keys and certificates defined (see "steps to reproduce"). This is not working at all. I kind of made it work if I tried to remove all the key providers in the creation of the realm and then in the next step created the ones i wanted. This approach would not be perfect and required me to run the tool twice :/
Am I doing anything obviou

[2022-03-29 12:45] RVSO-NC commented on #689
It seems that the problem originates from naming the Key provider the stock names e.g. "rsa-generated". If I call it rsa-generated1 it seems to work .... :)

[2022-03-29 13:16] RVSO-NC commented on #689
A workaround:

{
                "name": "rsa-enc-generated",
                "providerId": "rsa-enc-generated",
                "config": {
                    "enabled": [
                        "false"
                    ]
                }
            },
            {
                "name": "rsa-generated",
                "providerId": "rsa-generated",
                "config": {

[2022-04-02 07:44] #687 closed

[2022-04-02 07:45] jkroepke commented on #689
Why you are not using the providerId rsa?

[2022-04-02 11:09] ptr1120 commented on #687
thank you @jkroepke very much!

[2022-04-02 12:37] jkroepke commented on #689
Look like, the generated components only supports priority and keySize.

https://github.com/keycloak/keycloak/blob/10c3e149d36d0be1e421ff149359c854cc0ed8f0/services/src/main/java/org/keycloak/keys/GeneratedRsaEncKeyProviderFactory.java#L40-L43

I don't really how it works, but I would not expect that can can able to pre define keys for generated keys?

Here is a branch which delete the component b

[2022-04-04 08:12] RVSO-NC commented on #689
What we are trying to mimic:
![image](https://user-images.githubusercontent.com/91662666/161501659-d8b74dd7-8c08-4a8b-a6b2-c0f8bcc27f5f.png)

From this it should be possible to add a private key and certificate. You will not be able to see the private key in Keycloak (as it should be secret) but you can verify that the certificate is indeed the one you have added :)

You branch would seem to be do

[2022-04-04 09:29] jkroepke commented on #689
Your Steps To Reproduce is using providerId rsa-generated, but you screenshot is referenced to the providerId rsa.

[2022-04-04 09:41] RVSO-NC commented on #689
Have you implemented an interface for this? Would like not to do it by hand :)
I am able to add RSA keys by changing the name as mentioned before.

[2022-04-04 09:51] jkroepke commented on #689
This is already working on main

[code]

The rsa key matches the key from certificate

<img width="1478" alt="image" src="https://user-images.githubusercontent.com/1560587/161519518-0e2e795a-9617-421d-83fb-18abb9094347.png">

[2022-04-21 09:29] thomasdarimont opened #709 "Unrecognized field "readOnly" in ConfigPropertyRepresentation"
### Current Behavior

keycloak-config-cli cannot connect to Keycloak 18.0.0:

[code]

### Expected Behavior

keycloak-config-cli should be able to connect to Keycloak 18.0.0.

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: 18.0.0 (Keycloak.X / Keycloak-Legacy)
- keycloak-config-cli Version: 5.1.0-17.0.1
- Java Version: 11

### Anything else?

_No response_

[2022-04-21 09:34] thomasdarimont commented on #709
This should be fixed by upgrading the library to Keycloak 18.0.0

[2022-04-21 09:47] RVSO-NC commented on #709
Thanks for opening this, really hope it will be fixed soon!

[2022-04-21 09:56] lfarkas opened #710 "please release 18.0.0 version too"

[2022-04-26 14:33] jeromewaibel opened #713 "Small documentation bug"
### Current Behavior

This

keycloak-config-cli supports variable substitution of config files. This could be enabled by **import.var-substitution=true** (disabled by default).

should be changed to

keycloak-config-cli supports variable substitution of config files. This could be enabled by **import.var-substitution.enabled=true** (disabled by default).

as stated correctly several lines later. C

[2022-04-26 15:41] jack1902 opened #714 "Re-add information lost in recent formatting update of the README"
### Problem Statement

previous iterations of the README.md had a snippet about `--import.force` but this is no longer present, I can see it got dropped in this commit: https://github.com/adorsys/keycloak-config-cli/commit/c1f8a97eb272cae608339fad8dec0a09dea7bc85 and this PR: https://github.com/adorsys/keycloak-config-cli/pull/677

### Proposed Solution

Re-add information around `--import.force`

[2022-05-02 07:28] jkroepke commented on #686
I get the info that someone from adorsys will start to maintain it this week.

[2022-05-02 07:38] RVSO-NC commented on #686
That's brillant! Thank you so much 👍

[2022-05-03 17:12] ic2hrmk opened #719 "Checking on KEYCLOAK_AVAILABILITYCHECK_TIMEOUT variable"
### Current Behavior

Hello there,

I am looking for a suggestion on how to delay the Keycloak Config CLI bootstrap process during the app initialization.

Given:
* Keycloak Config CLI 5.1.0
* Keycloak 15.0.2 (without persistence, used for the PoC)

We have a Keycloak Config CLI as a regular pod in our deployment (requirements from a DevOps team). The environment is being updated in a rolling-upda

[2022-05-03 17:14] ic2hrmk commented on #686
@jkroepke, thank you for the support you were doing all this time!
Good luck with your new position, I hope that would be a great place :)

[2022-05-05 20:40] ic2hrmk commented on #719
Hi @ic2hrmk, thank you for the prompt response!
This way, can you please clarify what `KEYCLOAK_AVAILABILITYCHECK_TIMEOUT` modifies in the Keycloak Config CLI's behavior?

Thanks!

[2022-05-06 05:51] #709 closed

[2022-05-06 05:51] #710 closed

[2022-05-06 07:25] jkroepke commented on #719
its the timeout how long keycloak-config-cli will retry the login.

[2022-05-06 08:04] st3v0rr commented on #686
Hello,
once again... @jkroepke thanks so much! :-)

I released a v5.2.0 with support for keycloak 18. (also once again thanks to @thomasdarimont)

As already mentioned in https://github.com/adorsys/keycloak-config-cli/pull/718 ...
It is still in clarification who at adorsys will maintain this project in the future.

In the meantime I will try to keep up with the opened issues and also try to be av

[2022-05-07 01:52] ic2hrmk commented on #719
Ok, got it. Thank you for the details!

[2022-05-07 01:52] #719 closed

[2022-05-09 16:42] ianwallen opened #727 "Add support for declarative_user_profile"
### Problem Statement

I enabled  declarative_user_profile
https://www.keycloak.org/docs/latest/server_admin/#enabling-the-user-profile

And then tried to import a realm with realm property `userProfileEnabled` set to  `true` but I get an error indicating that the attribute is not supported.

`Unrecognized field "userProfileEnabled" (class de.adorsys.keycloak.config.model.RealmImport), not marked

[2022-05-09 20:06] st3v0rr commented on #727
Hi @ianwallen,
your assumption is completely correct.
I can reproduce the issue with the integration tests by enabling the features preview.

Unfortunatelly our tool relies on the representation types given by keycloak. In this case https://github.com/keycloak/keycloak/blob/18.0.0/core/src/main/java/org/keycloak/representations/idm/RealmRepresentation.java
The field "userprofileEnabled" is not pre

[2022-05-10 20:19] SvenWinkler commented on #686
Farewell @jkroepke + thx for your great work. I wish you all the best and good luck :-)
@thomasdarimont: Your accompany is welcome, so let's get in touch. I will reach out to you.

[2022-05-10 23:13] jkroepke commented on #727
By reading https://github.com/keycloak/keycloak/blob/b17f0695ee47d94f5470420f8ad061d246ad73f2/services/src/main/java/org/keycloak/userprofile/DeclarativeUserProfileProvider.java#L499 the property `userProfileEnabled` should be under attributes, not a top level property.

[2022-05-11 07:41] st3v0rr commented on #727
Thanks @jkroepke for your hint
@ianwallen I have built a running solution provided in a branch: https://github.com/adorsys/keycloak-config-cli/tree/feature/userProfileEnabled (diff: https://github.com/adorsys/keycloak-config-cli/compare/feature/userProfileEnabled)

For me it worked starting keycloak in the docker compose file als mentioned in the readme an then using [keycloak-config-cli-18.0.0.ja

[2022-05-15 12:16] ianwallen commented on #727
@st3v0rr, @jkroepke
Yes I see that it is in the attributes sections.

I had performed an export from keycloak to get the locations of the `userProfileEnabled` attribute and then searched for a key that was next to it.  I happened to use the key "clientSessionIdleTimeout" which happens to be in both the `attributes` and off the `root`.  I had not noticed that there was 2 occurrences and used the wr

[2022-05-15 12:16] #727 closed

[2022-05-16 07:22] st3v0rr commented on #713
Hi @jeromewaibel
thanks for your hint and sorry for this issue.
I changed the regarding property in the readme to the correct value.

[2022-05-16 07:22] #713 closed

[2022-05-16 07:47] st3v0rr commented on #714
Hi @jack1902 ,
as you already mentioned we removed the property with the latest releases since v5.0.0
If you are using an older version the docs are still reachable in the v4.9.0 tag.

https://github.com/adorsys/keycloak-config-cli/tree/v4.9.0

Due to an easier maintenance of this project we try to avoid keeping no longer available features in the main branch.

[2022-05-16 07:49] jack1902 commented on #714
Ah ok, apologies, I thought it was still an option within the project. I'm assuming `force` happens now regardless?

[2022-05-16 07:58] st3v0rr commented on #714
The new property is import.cache.enabled.
If you set it to false (is true by default) the behavior should be the same as in v4.9.0 and earlier.

[2022-05-16 08:55] #714 closed

[2022-05-16 10:44] SilentGert opened #728 "Inclusion of "attributes" in update payload resets unrelated properties"
### Current Behavior

We had trouble seeing the Keycloak admin UI after the update to version 18. Setting the `frontendUrl` realm attribute on the master realm via DB query helped fix the issue.
Now, I wanted to roll out the change to some other instances using Keycloak config CLI instead of a DB query.

When I update the master realm including the `attributes` property in the JSON payload, a lot

[2022-05-16 17:56] st3v0rr commented on #728
Hi @SilentGert
would it be possible four you, to provide the exported realm json with your additional change of the frontendUrl?
For example...
`
{
  "id": "master",
  "realm": "master",
  "attributes": {
    "frontendUrl": "https://keycloak.example.com/auth"
  }
  "displayName": "Keycloak",
  "displayNameHtml": "<div class=\"kc-logo-text\"><span>Keycloak</span></div>",
  "defaultSignatureAlgorith

[2022-05-17 07:17] SilentGert commented on #728
@st3v0rr thanks for your quick answer.
So do I get it right that the behavior is kind of expected then due to a lack of more data in the payload?
I was honestly surprised that the behavior changes significantly by just using `attributes` in the payload. I've sent request which included only `displayName` before and they wouldn't change any other property. That's why it looked like a bug to me.

Is

[2022-06-08 09:25] jankomuzykant19 opened #738 "Unable to invoke request"
### Current Behavior

When trying to connect to Keycloak it ends up with:
Could not connect to keycloak in 12 seconds: RESTEASY004655: Unable to invoke request: org.apache.http.conn.HttpHostConnectException: Connect to localhost:20180 [localhost/127.0.0.1] failed: Connection refused (Connection refused)

### Expected Behavior

keycloak-config-cli successfully connects to Keycloak

### Steps To Rep

[2022-06-09 09:17] #738 closed

[2022-06-15 05:40] skhro87 opened #741 "Typo in README"
### Current Behavior

Small Typo in the `README`:

Under `Spring boot options` it says
`--loging.level.root` which should be `--logging.level.root`

Thanks for your work on this great tool!

### Expected Behavior

Under `Spring boot options`:
`--loging.level.root` should be `--logging.level.root`

### Steps To Reproduce

_No response_

### Environment

- Keycloak Version: [e.g. 10.0.1]
- keycloak-

[2022-06-15 06:33] st3v0rr commented on #741
Hi @skhro87,
thank you very much for your feedback :-)
That was an easy one. Fixed it.

[2022-06-15 06:33] #741 closed

[2022-06-16 19:22] ederparaiso opened #743 "[Advice] Development workflow with keycloak-config-cli"
Hi,

I'm new to keycloak and keycloak-config-cli and I'm trying to understand how to use this cli in my development cycle.

Taking [moped.json](https://github.com/adorsys/keycloak-config-cli/blob/main/contrib/example-config/moped.json) as example, how this file was could be generated?
The moped realm was exported manually from keycloak through "Partial Export" feature on keycloak admin console / k

[2022-06-20 10:24] #686 closed

[2022-06-20 11:00] st3v0rr commented on #743
Hi @ederparaiso ,
basically you can start with the provided example if you have a green field approach.
If you already have bootstrapped keycloak instances just start with them and export the needed data.
You can also have a look on the generate-export-realm.sh in contrib/scripts folder of this git repo.
Unfortunately we have no tool that automates the sanitization.

Best regards

[2022-06-21 14:49] mpromny opened #744 "Authorization Scopes are deleted - how to prevent deletion of "remote managed" scopes."
### Problem Statement

Hi,
We know about the existence of the below listed variables:
[code]
 Unfortunately, none of them protects against deleting clients authorization scope
 `DELETE /auth/admin/realms/{REALM_NAME}/clients/{CLIENT_ID}/authz/resource-server/scope/{SCOPE_ID}`

 or I'm incorrectly assuming that those `properties` could be passed as `environment variables`:
[code]
if I'm making a wr

[2022-06-23 22:22] ederparaiso commented on #743
Thanks for your attention @st3v0rr ! I'll check this script and define the best approach to my needs.

[2022-06-23 22:22] #743 closed

[2022-06-24 11:59] phisch1991 opened #746 "ProtocolMappers not removed properly"
### Current Behavior

When I have a client incl. protocol mappers and remove the protocol mappers from code, the mappers are still in place. When I delete the mappers manually and then let the CLI run a second time, they where not re-created.

### Expected Behavior

I would have expected that the protocol mappers are removed when they are removed from code.

### Steps To Reproduce

[code]

### Env

[2022-07-12 01:28] charandas commented on #240
On more recent versions, 5.x with 18.x JARs, you actually need:

1. `IMPORT_VARSUBSTITUTION_ENABLED`: `true`

Haven't tried with `env:` part successfully in the variable substitution itself but worked for me without. It may also work with that prefix and it was `_ENABLED` that I was missing all along.

[2022-07-15 07:50] thomasdarimont opened #754 "UsedAuthenticationFlowWorkaroundFactory does not consider postBrokerLogin flows"
### Current Behavior

Given a identity provider with custom firstBroker AND postBroker login flows, then consecutive updates fail with: `Cannot remove authentication flow, it is currently in use`.

Problem seems to be that the [UsedAuthenticationFlowWorkaroundFactory.java](https://github.com/adorsys/keycloak-config-cli/blob/main/src/main/java/de/adorsys/keycloak/config/factory/UsedAuthenticationFl

[2022-07-25 09:00] #754 closed

[2022-08-01 12:09] luisscholl commented on #738
What fixed your issue?

[2022-08-03 12:28] CodeDragon82 commented on #709
Is this fixed in the latest Bitnami docker image yet?

[2022-08-12 09:40] srose opened #769 "Keycloak User Profile Configuration"
### Problem Statement

Keycloaks Declarative User Profile Feature (feaure = declarative-user-profile) is not available for configuration through keycloak-config-cli.

### Proposed Solution

Add some functionality to enable configuration through keycloak-config-cli.

### Environment

- Keycloak Version: [e.g. 19.0.1]
- keycloak-config-cli Version: [e.g. 1.5.3]
- Java Version: [e.g. 11]

### Additio

[2022-08-22 13:06] to-ph opened #771 "requiredActions not updating in realm"
### Current Behavior

When running the cli with
[code]
I do not see defaultAction set to `true` in the admin console

Also running (as seen from examples):
[code]
Does not create the required action (should it?).

### Expected Behavior

A Configure OTP required action with `defaultAction` set to true should be created on the keycloak realm.

### Steps To Reproduce

[code]

### Environment

- Keycl

[2022-08-22 13:22] to-ph commented on #771
I should clarify that I'm looking at required actions in the keycloak console through `Authentication` -> `Required Actions`

[2022-09-09 13:30] testuser7 commented on #662
Is there any plan to add the remote state feature?

[2022-09-09 13:36] tobilarscheid commented on #662
Hi @testuser7 (what a name ;-) ), I haven't looked into it so far!

[2022-09-15 13:17] GretUp opened #783 "Policy Deleted - Partial import of client authorization with multiple files"
### Problem Statement

I have multiple files which add roles, resources, policies and permissions. How am I able to do this without deleting the entities which are not present in the current json? At the moment if e.g. a policy does not exist in a json it gets deleted.

I tried to figure out a mechanism: https://github.com/adorsys/keycloak-config-cli/blob/0c14bb2f3ec14b1363f7a1e4fe85670d8542ea5f/d

[2022-09-18 12:41] jkroepke commented on #783
Could you try to use a different `--import.cache.key` for each file?

[2022-10-10 19:37] manuschillerdev opened #794 "Custom User Attributes not being imported"
### Current Behavior

I try to import users to my realm via keycloak-config-cli.
The users contain custom attributes, that should also be generated via the import:

[code]

The user gets imported, but the attributes are not getting created

### Expected Behavior

The user should get created with its custom attributes

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: latest (doc

[2022-10-14 10:34] kantum commented on #743
Where can we find documentation about the "all stuff" in `Remove all UUIDs and all stuff which is default set by keycloak.`

[2022-10-14 13:35] mlhartme opened #799 "Normalized Export"
### Problem Statement

(I'm not sure if this feature request is best placed here or in keycloak itself ... I'll first try here ...)

We use keycloak-config-cli to properly define the configuration of our Keycloak server in my-realm.json. That's great!

But we use manual configuration as well, usually because we need try and error to find the proper configuration.
To get manual changes into my-real

[2022-10-17 11:27] andres32168 opened #800 "Support multiple post.logout.redirect.uris"
### Problem Statement

Currently it's not possible to add more then 1 post.logout.redirect.uri in yaml config

This is possible:
`
clients:
  - clientId: my-client1
    protocol: openid-connect
    enabled: true
    name: my-client1
    description: n.a.
    bearerOnly: false
    publicClient: true
    standardFlowEnabled: true
    implicitFlowEnabled: false
    directAccessGrantsEnabled: false

[2022-10-20 15:00] tbroyer commented on #800
AFAIK, attributes are all strings. For multivalued attributes, values are simply separated by `##`, so
[code]
keycloak-config-cli format is (almost) the same as that of an export from Keycloak itself, where you can see this `##` separator.
Or in the code, see:
https://github.com/keycloak/keycloak/blob/6efa45f93ee385ede866d66ebb0f6284abdb4f57/services/src/main/java/org/keycloak/protocol/oidc/Abstra

[2022-10-22 12:42] devent opened #803 "Error on import Cannot update client 'account' in realm HTTP 400 Bad Request"
### Current Behavior

Running Keycloak and try to import my config from a previous exported config json. Error is:

[code]

### Expected Behavior

My config json was imported successfully.

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: 18.0.2
- keycloak-config-cli Version: 5.3.1
- Java Version: 11.0.16.1

### Anything else?

Full log:

[code]

Config json: https://gist.githu

[2022-11-02 22:03] thomasdarimont opened #805 "Cannot connect to Keycloak 20"
### Current Behavior

Keycloak 20 introduced new properties which are not yet supported by keycloak-config-cli
[code]

### Expected Behavior

_No response_

### Steps To Reproduce

[code]

### Environment

- Keycloak Version: 20.0.0
- keycloak-config-cli Version: quay.io/adorsys/keycloak-config-cli:5.3.1-19.0.1
- Java Version: 17

### Anything else?

_No response_

[2022-11-02 22:18] thomasdarimont opened #806 "Add support for Keycloak 20.0.0"
### Problem Statement

_No response_

### Proposed Solution

_No response_

### Environment

- Keycloak Version: 20.0.0
- keycloak-config-cli Version: [e.g. 1.4.0]
- Java Version: [e.g. 11]

### Additional information

_No response_

### Acceptance Criteria

_No response_

[2022-11-02 22:19] thomasdarimont commented on #805
See: #806

[2022-11-03 06:28] daniel-shuy opened #808 "Docker tags without Keycloak minor/patch version"
### Problem Statement

Currently, the format of Docker tags is `<keycloak-config-cli version>`-`<keycloak library version>`, e.g. `5.3.1`-`19.0.1`. Since the Keycloak library is backwards compatible to within the same major version, usually the `keycloak-config-cli` user will want to use the latest minor/patch version of the Keycloak library, without having to manually update the image tag everyti

[2022-11-03 10:49] thomasdarimont commented on #800
How about creating a PR with a doc snippet for https://github.com/adorsys/keycloak-config-cli/blob/main/docs/FEATURES.md ?

[2022-11-07 12:01] #769 closed

[2022-11-10 21:40] ehsan-tashkhisi opened #810 "Let user username be updated in config"
### Problem Statement

Imagine we want to apply the user configuration like below:

users:
- username: $(env:ADMIN_PANEL_USER)
  enabled: true
  firstName: Labforward
  lastName: Admin
  realmRoles: []
  clientRoles:
    client-realm:
      - manage-users
      - view-realm
      - view-clients
      - view-users
      - view-events
      - manage-realm
  credentials:
    - type: password
      va

[2022-11-12 09:40] #806 closed

[2022-11-12 09:43] LCerebo commented on #805
I can confirm that this pull request fix the problem with keycloak 20.0.x.
Tested on keycloak 20.0.0

[2022-11-14 13:57] #805 closed

[2022-11-15 20:31] #794 closed

[2022-11-17 08:34] thomasdarimont opened #815 "Refactor User Profile Support"
### Problem Statement

- Responses are currently not closed properly
- Some data is fetched even it is potentially not used
- Some log messages use level info but should use trace

### Proposed Solution

- close responses where necessary
- only fetch data when needed
- change log level to trace for tracing messages

### Environment

- Keycloak Version: [e.g. 10.0.1]
- keycloak-config-cli Version:

[2022-11-21 13:01] arheom opened #816 "When groups are synced using config-cli, all remote groups are removed"
### Current Behavior

By default we have remote state enabled for the config-cli, but when using groups, the remote groups are removed when running the sync. So, I have one config which should sync 2 groups, after the cli runs, all remote groups are removed.

### Expected Behavior

Because the remove state is enabled, the remote groups should not be removed. Only the changed / added groups should

[2022-11-21 21:04] arheom commented on #816
Found in the code the problem. Was not aware we could setup --import.managed.group=NO_DELETE, which will not delete the existing groups. By default it will delete them, but can be configured to not.

[2022-11-24 13:20] sonOfRa commented on #799
I've started a draft implementation of this feature over at https://github.com/adorsys/keycloak-config-cli/pull/818.

The general idea is to use Javers to diff the objects, comparing them to a "baseline" realm export for any given Keycloak version, and then using that diff to produce a normalized/minimized yaml file that can later be imported using keycloak-config-cli.

Any inputs on particular ch

[2022-11-28 23:46] dwyerk opened #819 "Initial Credentials Causes Update"
﻿With #623 support for a new userLabel "initial" was added which prevents the credentials from being set if the user already exists. However, it can trigger a false update when only the password has changed.

This behavior can currently be seen in the `ImportUsersIT.shouldUpdateRealmWithChangedClientUserPassword` test. During the `doImport` call on line 189, the UserImportService will attempt to u

[2022-11-28 23:53] dwyerk commented on #819
Debugging into `CloneUtils.deepEquals`, we can see:

[code]
So the only difference is that `patchedUser` has `"credentials":[]` while `existingUser` does not.